/* COLORS */

.orange {
    color: orange
}

/* GENERAL ELEMENTS */

body {
    font-family: 'Helvetica', sans-serif;
    font-size: 14px;
    text-align: center;
    margin: 0px;
    padding: 0px;
    background-color: #121212e7;
    color: #FFFFFF;
    opacity: 75%;
}

h1 {
    font-family: 'Acme', sans-serif;
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-size: 24px;
}

h2 {
    padding-top: 10px;
    padding-bottom: 20px;
}

h3 {
    margin-top: 10px;
}

h4 {
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 0px;
    padding-bottom: 10px;
}

p {
    display: inline-block;
    margin: 8px;
}

a {
    color: rgba(157, 151, 173, 0.747);
    text-decoration: underline;
}

table {
    display: none;
}

th {
    width: 33%;
}

td {
    color: white;
}

/* MAIN CONTAINER CSS */

#page-container {
    max-width: 1600px;
    height: 100%;
    margin: auto;
    padding: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* CSS FOR LEFT NAVBAR */

#header {
    flex-basis: 100%;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 60px;
}

.logo {
    font-family: 'Acme', sans-serif;
    font-size: 40px;
    margin-left: 20px;
}

#left-sidebar {
    flex-basis: 15%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

.nav-item {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 24px;
}

.active {
    width: 100%;
}

#left-sidebar a {
    display: block;
    padding: 10px 10px 5px 25px;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
}

/* CSS FOR MAIN CONTENT */

#main-content {
    flex-basis: 70%;
    height: 90%;
}

#analyserData {
    width: 365px;
    margin-top: 10px;
}

#submitbutton {
    margin-top: 10px;
}

.copy_button_div {
    display: inline-block;
    margin-left: 3px;
}

.block_element {
    display: block;
}

ol, ul {
    margin: 5px 0px 10px 0px;
    padding: 0px;
}

.instructions-list {
    text-align: center;
    list-style-position: inside;
}

#profit_positive {
    font-weight: bold;
    color: green;
}

#profit_negative {
    font-weight: bold;
    color: red;
    opacity: 100%;
}

#example_positive {
    font-weight: bold;
    color: green;
}

/* CSS FOR RIGHT NAVBAR/SIDEBAR */

#right-sidebar {
    height: 100%;
    flex-basis: 15%;
    background-color: red;
}

/* CSS FOR FOOTER */

#footer {
    align-items: center;
}

#contactParagraph {
    position: absolute;
    bottom: 0px;
    left: 15%;
    right: 15%;
    margin: 0px;
}

/* CSS MEDIA */

@media only screen and (max-width: 1000px) {
    body {
        font-family: 'Helvetica', sans-serif;
        font-size: 1.8rem;
        text-align: center;
    }
    #left-sidebar {
        display: none;
    }
    #right-sidebar {
        display: none;
    }
    #footer {
        display: none;
    }
    #changelog-footer {
        display: none;
    }
    #main-content {
        flex-basis: 90%;
    }
}

@media only screen and (max-height: 800px) {
    #footer {
        display: none;
    }
    #changelog-footer {
        display: none;
    }
}

.hiddeninput {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

#contact_heading {
    padding-top: 30px;
    padding-bottom: 0;
}

.contact-u-list {
    padding-top: 15px;
    display: inline-block;
    text-align: left;
}

.contact-list {
    padding: 2px;
}

.top-section {
    padding-top: 10px;
    padding-bottom: 10px;
}

#copy-all-button {
    margin-bottom: 10px;
}

#extra-expenses-button {
    color: white;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    text-decoration: underline;
    padding: 0;
    margin: 0;
}

#extra-container {
    padding-top: 50px;
    display: none;
}

#results {
    margin-top: 20px;
    margin-bottom: 20px;
}