/* COLORS */

.orange {
    color: orange
}

/* GENERAL ELEMENTS */

body {
    font-family: 'Helvetica', sans-serif;
    font-size: 14px;
    text-align: center;
    margin: 0px;
    padding: 0px;
    background-color: #061021;
    color: #FFFFFF;
    background-image: url(../images/Background_Artwork.webp);
    background-repeat: no-repeat;
    background-size: 1600px 800px; 
    background-position: top; 
}

h1 {
    font-family: 'Acme', sans-serif;
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-size: 24px;
}

h2 {
    padding-top: 10px;
    padding-bottom: 20px;
}

h3 {
    margin-top: 10px;
}

h4 {
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 10px;
}

p {
    display: inline-block;
    margin: 8px;
}

a {
    color: rgba(157, 151, 173, 0.747);
    text-decoration: underline;
}

table {
    display: none;
}

th {
    width: 33%;
}

td {
    color: white;
}

/* MAIN CONTAINER CSS */

#page-container {
    max-width: 1600px;
    height: 100%;
    margin: auto;
    padding: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* CSS FOR LEFT NAVBAR */

#header {
    flex-basis: 14.9%;
    padding-top: min(50px,3%);
    padding-bottom: min(50px,3%);
    order: 1;
    font-family: 'Acme', sans-serif;
    font-size: 40px;
    filter: brightness(100%);
    margin-left: 5%;
}

#right-header {
    flex-basis: 15%;
    order: 3;
    margin-right: 5%;
}

#banner {
    flex-basis: 60%;
    order: 2;
}

#left-sidebar {
    flex-basis: 15%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    order: 4;
    margin-left: 5%;
}

.nav-item {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 22px;
    font-family: Calibri;
    font-weight: 400;
    transition: 0s;
    background-color: #061021e8;
    border-radius: 1px;
}

.nav-item a {
    color: white;
    text-decoration: none;
    display: block;
}

.nav-item:hover {
    background-color: #0f2344e8;
    color: white;
}

.active {
    width: 100%;
    color: #FFFFFF;
    background-color: #0f2344e8;
}

/* CSS FOR MAIN CONTENT */

#main-content {
    flex-basis: 50%;
    height: 90%;
    order: 5;
    background-color: #061021f5;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 5px;
}

#analyserData {
    width: 365px;
    margin-top: 10px;
}

#submitbutton {
    margin-top: 10px;
}

.copy_button_div {
    display: inline-block;
    margin-left: 3px;
}

.block_element {
    display: block;
}

ol, ul {
    margin: 5px 0px 10px 0px;
    padding: 0px;
}

.instructions-list {
    text-align: center;
    list-style-position: inside;
}

#profit_positive {
    font-weight: bold;
    color: green;
}

#profit_negative {
    font-weight: bold;
    color: red;
    opacity: 100%;
}

#example_positive {
    font-weight: bold;
    color: green;
}

/* CSS FOR RIGHT NAVBAR/SIDEBAR */

#right-sidebar {
    height: 100%;
    flex-basis: 15%;
    display: flex; 
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    order: 6;
    margin-right: 5%;
}

.right-sidebar-item {
    margin: 10px 0 10px 0;
}

.border-img {
    border: black solid 1px;
}

/* CSS FOR FOOTER */

#footer {
    align-items: center;
}

#contactParagraph {
    position: absolute;
    bottom: 0px;
    left: 15%;
    right: 15%;
    margin: 0px;
    font-size: 14px;
}

/* CSS MEDIA */

.hiddeninput {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.top-section {
    padding-top: 10px;
    padding-bottom: 10px;
}

#copy-all-button {
    margin-bottom: 10px;
}

#extra-expenses-button {
    color: white;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    text-decoration: underline;
    padding: 0;
    margin: 0;
}

#extra-container {
    padding-top: 50px;
    display: none;
}

#results {
    margin-top: 20px;
    margin-bottom: 20px;
}