{% extends "base_template.html" %}
{% block title %} <title>TibiaPal.com - Auctions</title> {% endblock %}
{% block scripts %}
<script src="../static/scripts/auctions.js"></script>
{% endblock %}

{% block nav-auctions %}<div class="active nav-item nav-item-expandable">{% endblock %}

    {% block main-content %}
    <p> WARNING: This tool is intended to be used on servers with a low volume of active house auctions.
        <br><br>If used on servers with a high amount of active auctions, the tool will take a long time to
        execute (1+ min). Suggested worlds to use are Secura, Antica etc. </p>
    <form><label for="server">Select server</label>
        <select name="server" id="server">
            {% for world in worlds %}
            <option>{{world.name}}</option>
            {% endfor %}
        </select>
        <input type="submit" id="submitbutton" value="Submit" onclick="event.preventDefault(); submit_form()" />
    </form><br>
    <div id=auction_container>

    </div>
    {% endblock %}