<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {% block title %} <title>TibiaPal.com - All your Tibia needs in one place!</title> {% endblock %}
    <meta name="author" content="Pawel Kusnierek">
    <meta name="description"
        content="Tools for video game 'Tibia', TibiaLootSplit, Imbue calculator, Stamina calculator, Boss Timers, Exercise Weapons calculator and more.">
    <meta name="keywords"
        content="Tibia calculators, Tibia tools, TibiaLootSplit, Split Tibia Loot, Tibia Loot Analyser, Tibia Loot Share, Tibia Party Calculator,
          Tibia fansite, Exercise Weapons Calculator, Tibia Stamina Calculator, Tibia Boss Timers, Tibia Imbue Calculator ">
    <link rel="shortcut icon" {% block favicon %} href="../static/images/crystalcoin.ico" type="image/x-icon">
    {% endblock %}

    <!-- css files-->
    <link rel="stylesheet" type="text/css" {% block css %} href="../static/css/styles.css" {% endblock %}>

    <!-- .js scripts -->
    {% block scripts %} {% endblock %}
    {% block onload %}
    <script src="../static/scripts/onload.js"></script> {% endblock %}

    <!-- extra googleapi fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap" rel="stylesheet">

    <!-- Analytics and ad related section-->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-PVVNY9BHWM"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'G-PVVNY9BHWM');
    </script>
    <script data-ad-client="ca-pub-2936542406889680" async
        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>

<body onload="initialize()">
    <main id="page-container">
        <div id="header">
            <a class="float-left" href="https://www.tibia.com/community/?subtopic=fansites" target="_blank">
                {% block supportedlogo %}
                <img src="../static/images/supported.png" style="width:100%" alt="Tibia supported fansite Logo">{% endblock %}
            </a>
            <a class="float-left" href="https://tibiapal.com">{% block mainlogo %} <img
                    src="../static/images/mainlogo.png" style="width:100px" alt="TibiaPal beaver logo">{% endblock %}
            </a>

        </div>
        <div id="banner">
            <script async
                src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2936542406889680"
                crossorigin="anonymous"></script>
            <!-- 420x110 -->
            <ins class="adsbygoogle" style="display:inline-block;width:420px;height:110px"
                data-ad-client="ca-pub-2936542406889680" data-ad-slot="3541231516"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
            <a class="float-right" href="https://www.tibia.com" target="_blank"> {% block tibialogo %}
                <img src="../static/images/tibia-logo-artwork-top.gif" style="width:120px" alt="Official Tibia Logo">{% endblock %}
            </a>
        </div>
        <div id="right-header">

        </div>
        <nav id="left-sidebar">
            {% block navbar %}
            <div class="nav-section">GENERAL</div>
            {% block nav-news %}<div class="nav-item">{% endblock %}
                <a href="../">
                    <div class="nav-image-container"><img class="nav-image" src="../static/images/icon-news.gif">Latest
                        News</div>
                </a>
            </div>
            {% block nav-about %}<div class="nav-item">{% endblock %}<a href="../about">
                    <div class="nav-image-container"><img class="nav-image"
                            src="../static/images/icon-abouttibia.gif">About
                        & Contact</div>
                </a></div>
            {% block nav-donators %}<div class="nav-item">{% endblock %}<a href="../donators">
                    <div class="nav-image-container"><img class="nav-image"
                            src="../static/images/Heart_Pillow.gif">Donators</div>
                </a></div>
            <div class="nav-section">TOOLS</div>
            {% block nav-tibialootsplit %}<div class="nav-item">{% endblock %}<a href="../tibialootsplit">
                    <div class="nav-image-container"><img class="nav-image"
                            src="../static/images/crystalcoin.ico">TibiaLootSplit</div>
                </a></div>
            {% block nav-bosstimers %}<div class="nav-item">{% endblock %}<a href="../bosstimers">
                    <div class="nav-image-container"><img class="nav-image" src="../static/images/Time_Compass.gif">Boss
                        Timers</div>
                </a></div>
            <!--{% block nav-charactertracker %}<div class="nav-item">{% endblock %}<a href="../charactertracker">
                    <div class="nav-image-container"><img class="nav-image"
                            src="../static/images/White_Skull.gif">Character Tracker<span id="new-homepage">&nbspNEW!</span></div>
                </a></div> -->
            <!--Commenting out until improved{% block nav-auctions %}<div class="nav-item">{% endblock %}<a href="../auctions">
                    <div class="nav-image-container"><img class="nav-image" src="../static/images/Big_Table.gif">House
                        Auctions</div>
                </a></div> -->
            <div class="nav-section">GUIDES / REFERENCES</div>
            {% block nav-hunting %}<div class="nav-item">{% endblock %}<a href="../hunting">
                    <div class="nav-image-container"><img class="nav-image" src="../static/images/Sword.gif">Hunting
                        Places</div>
                </a></div>
            {% block nav-bestiary %}<div class="nav-item">{% endblock %}<a href="../bestiary">
                    <div class="nav-image-container"><img class="nav-image"
                            src="../static/images/Bestiary_Betterment.gif">Bestiary Reference</div>
                </a> </div>
            {% block nav-videos %}<div class="nav-item">{% endblock %}<a href="../videos">
                    <div class="nav-image-container"><img class="nav-image"
                            src="../static/images/icon-gameguides.gif">Videos & Guides</div>
                </a></div>
            <!-- commenting out as not really used{% block nav-weaponsref %}<div class="nav-item">{% endblock %}<a href="../weapons">
                    <div class="nav-image-container"><img class="nav-image"
                            src="../static/images/icon-library.gif">Weapons Reference</div>
                </a></div> -->
            </div>
            <div class="nav-section">CALCULATORS</div>
            {% block nav-exercise %}<div class="nav-item">{% endblock %}<a href="../exercise">
                    <div class="nav-image-container"><img class="nav-image"
                            src="../static/images/Exercise_Wand.gif">Exercise Weapons Calculator</div>
                </a></div>
            {% block nav-imbue %}<div class="nav-item">{% endblock %}<a href="../imbue">
                    <div class="nav-image-container"><img class="nav-image"
                            src="../static/images/Imbuing_Shrine.gif">Imbue Calculator</div>
                </a></div>
            {% block nav-expshare %}<div class="nav-item">{% endblock %}<a href="../expshare">
                    <div class="nav-image-container"><img class="nav-image" src="../static/images/Bricklayers.gif">Exp
                        Share Calculator</div>
                </a></div>
            {% block nav-stamina %}<div class="nav-item">{% endblock %}<a href="../stamina">
                    <div class="nav-image-container"><img class="nav-image"
                            src="../static/images/Staminafull.png">Stamina Calculator</div>
                </a></div>
            {% block nav-expcalculator %}<div class="nav-item">{% endblock %}<a href="../expcalculator">
                    <div class="nav-image-container"><img class="nav-image" src="../static/images/Demon.gif">Levelling
                        Calculator</div>
                </a></div>
            {% block nav-offlinetraining %}<div class="nav-item">{% endblock %}<a href="../offlinetraining">
                    <div class="nav-image-container"><img class="nav-image"
                            src="../static/images/Skill_Trainer.gif">Training Calculator</div>
                </a></div>
            {% block nav-leech %}<div class="nav-item">{% endblock %}<a href="../leech">
                    <div class="nav-image-container"><img class="nav-image" src="../static/images/Leech.gif">Leech
                        Calculator</div>
                </a></div>
            {% endblock %}
            <div class="right-sidebar-item" id="Rashid">
                {% block rashidimage %} <img src="../static/images/Rashid.gif" style="width:45%" alt="Rashid NPC">{% endblock %}
                <br>
                <div id="rashid-city">Unavailable...</div>
            </div>

        </nav>
        <section id="main-content">
            {% block main-content %} Main Content {% endblock %}
        </section>
        <aside id="right-sidebar">
            <section id="banner-paragraph">
                <p class="donationparagraph">Join our <b>Discord</b> channel to stay up-to-date!<br>
                    <a href="https://discord.gg/f2hESCbgvz" target="_blank">discord.gg/f2hESCbgvz</a>
                </p>

                <h4><br>Latest YouTube Videos:</h4>
                <div><br>I'm back?!<br><br></div>
                <div><iframe width="250" height="150" src="https://www.youtube.com/embed/3R8q_q4BC98?autoplay=0"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe> </div>
                
                <div><br>Tibia Tips & Tricks part 2<br><br></div>
                <div><iframe width="250" height="150" src="https://www.youtube.com/embed/q0TX798-CvA?autoplay=0"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe><br><br></div>

            </section>
            <div id="ads-container">
                <div>
                    <script async
                        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2936542406889680"
                        crossorigin="anonymous">
                        </script>
                    <!-- right-sidebar-2 -->
                    <ins class="adsbygoogle" style="display:inline-block;width:200px;height:200px"
                        data-ad-client="ca-pub-2936542406889680" data-ad-slot="7878791141"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
                <br>
            </div>
            <br>
        </aside>
        <aside id="left-footer-space"></aside>
        <footer id="footer">
            <p id="footerParagraph">
                Tibia and all products related to Tibia are copyrighted by <a href="https://www.cipsoft.com"
                    target="_blank">CipSoft GmbH</a>. The official
                website of Tibia is <a href="https://www.tibia.com" target="_blank">tibia.com</a>.<br><br>
                Created by Kusnier.
            </p><br><br>
        </footer>
        <aside id="right-footer-space"></aside>
    </main>
    <div class="cookieconsent"
        style="display:none;position:fixed;padding:20px;left:0;bottom:0;background-color:#000;color:#FFF;text-align:center;width:100%;z-index:99999;">
        TibiaPal.com uses cookies to ensure you get the best experience possible. By continuing to use this website, you
        agree to their use. You can find more information about our cookies on our <a href="https://tibiapal.com/about"
            target="_blank">Privacy Policy</a> page.
        <a href="" style="color:#CCCCCC;" onclick="event.preventDefault(); cookieConsentClicked()">I Understand</a>
    </div>
</body>

</html>