{% extends "base_template.html" %}
{% block title %} <title>TibiaPal.com - Bless Cost Calculator</title> {% endblock %}
{% block scripts %}
<script src="../static/scripts/bless.js"></script>
{% endblock %}

{% block nav-bless %}<div class="active nav-item nav-item-expandable">{% endblock %}

{% block main-content %}
<p id="expshareparagraph">
    Find out the cost of blessings for your level.
    <form id="blessform">
        <!--suppress HtmlFormInputWithoutLabel -->
        <input type="text" id="level" name="level" placeholder="Enter character level here..." autocomplete="off"><br>
        <label id="henricuslabel" for="henricus">Henricus (Inq):</label>
        <input type="checkbox" id="henricus" name="henricus" checked><br>
        <label id="enhancedlabel" for="enhanced">Enhanced:</label>
        <input type="checkbox" id="enhanced" name="enhanced" checked><br>
        <label id="twistlabel" for="twist">Twist of Fate:</label>
        <input type="checkbox" id="twist" name="twist"><br>
        <input type="submit" id="blesssubmitbutton" value="Submit" onclick="event.preventDefault(); submit_form()" />
    </form>
</p>
<p id="deathblessresults"></p>
{% endblock %}