{% extends "base_template.html" %}
{% block title %} <title>TibiaPal.com - Bosstiary Guide</title> {% endblock %}

{% block nav-bestiary %}<div class="active nav-item">{% endblock %}

{% block main-content %}
<h1>Tibia Bosstiary Guide</h1>
<button type="button" class="expandable-div">Solo Bosses - before level 400   (total boss points: 1600)</button>
<div class="expandable-div-content">
    <table class="bestiary_table">
        <tr>
            <th>Boss</th>
            <th>Rec. Level</th>
            <th>Access Quest</th>
        </tr>
        <tr>
            <td>Bibby Bloodbath</td>
            <td>100</td>
            <td>N/A</td>
        </tr>
        <tr>
            <td>Black Vixen</td>
            <td>100</td>
            <td>Grimvale Quest - The Curse Spreads</td>
        </tr>
        <tr>
            <td>Bloodback</td>
            <td>100</td>
            <td>Grimvale Quest - The Curse Spreads</td>
        </tr>
        <tr>
            <td>Darkfang</td>
            <td>100</td>
            <td>Grimvale Quest - The Curse Spreads</td>
        </tr>
        <tr>
            <td>Sharpclaw</td>
            <td>100</td>
            <td>Grimvale Quest - The Curse Spreads</td>
        </tr>
        <tr>
            <td>Shadowpelt</td>
            <td>100</td>
            <td>Grimvale Quest - The Curse Spreads</td>
        </tr>
        <tr>
            <td>Katex Blood Tongue</td>
            <td>250</td>
            <td>Grimvale Quest - An Ancient Feud</td>
        </tr>
        <tr>
            <td>Srezz Yellow Eyes</td>
            <td>250</td>
            <td>Grimvale Quest - An Ancient Feud</td>
        </tr>
        <tr>
            <td>Utua Stone Sting</td>
            <td>250</td>
            <td>Grimvale Quest - An Ancient Feud</td>
        </tr>
        <tr>
            <td>Yirkas Blue Scales</td>
            <td>250</td>
            <td>Grimvale Quest - An Ancient Feud</td>
        </tr>
        <tr>
            <td>Scarlett Etzel</td>
            <td>250</td>
            <td>Grave Danger</td>
        </tr>
        <tr>
            <td>Drume</td>
            <td>300</td>
            <td>The Order of the Lion Quest</td>
        </tr>
        <tr>
            <td>Kusuma</td>
            <td>300</td>
            <td>Within the Tides Quest</td>
        </tr>
        <tr>
            <td>The Flaming Orchid</td>
            <td>300</td>
            <td>Asura Palace Quest</td>
        </tr>
        <tr>
            <td>The Moonlight Aster</td>
            <td>300</td>
            <td>Asura Palace Quest</td>
        </tr>
        <tr>
            <td>The Winter Bloom</td>
            <td>300</td>
            <td>Asura Palace Quest</td>
        </tr>
    </table>
</div>

<button type="button" class="expandable-div">Solo Bosses - after level 400 (total boss points: 1100)</button>
<div class="expandable-div-content">
    <table class="bestiary_table">
        <tr>
            <th>Boss</th>
            <th>Rec. Level</th>
            <th>Access Quest</th>
        </tr>
        <tr>
            <td>Ahau</td>
            <td>400</td>
            <td>Adventures of Galthen</td>
        </tr>
        <tr>
            <td>Amenef the Burning</td>
            <td>500</td>
            <td>Kilmaresh Quest</td>
        </tr>
        <tr>
            <td>Sister Hetai</td>
            <td>500</td>
            <td>Kilmaresh Quest</td>
        </tr>
        <tr>
            <td>Neferi the Spy</td>
            <td>500</td>
            <td>Kilmaresh Quest</td>
        </tr>
        <tr>
            <td>Brokul</td>
            <td>500</td>
            <td>The Secret Library Quest</td>
        </tr>
        <tr>
            <td>The Blazing Rose</td>
            <td>500</td>
            <td>The Secret Library Quest</td>
        </tr>
        <tr>
            <td>The Diamond Blossom</td>
            <td>500</td>
            <td>The Secret Library Quest</td>
        </tr>
        <tr>
            <td>The Lily of Night</td>
            <td>500</td>
            <td>The Secret Library Quest</td>
        </tr>
        <tr>
            <td>Irgix the Flimsy</td>
            <td>500</td>
            <td>Feaster of Souls Quest</td>
        </tr>
        <tr>
            <td>Unaz the Mean</td>
            <td>500</td>
            <td>Feaster of Souls Quest</td>
        </tr>
        <tr>
            <td>Vok the Freakish</td>
            <td>500</td>
            <td>Feaster of Souls Quest</td>
        </tr>
    </table>
</div>

<button type="button" class="expandable-div">Common Team Bosses (total boss points: 4200)</button>
<div class="expandable-div-content">
    <table class="bestiary_table">
        <tr>
            <th>Boss</th>
            <th>Rec. Level</th>
            <th>Access Quest</th>
        </tr>
        <tr>
            <td>Abyssador</td>
            <td>200</td>
            <td>Bigfoot's Burden</td>
        </tr>
        <tr>
            <td>Gnomevil</td>
            <td>200</td>
            <td>Bigfoot's Burden</td>
        </tr>
        <tr>
            <td>Deathstrike</td>
            <td>200</td>
            <td>Bigfoot's Burden</td>
        </tr>
        <tr>
            <td>Urmahlullu the Weakened</td>
            <td>250</td>
            <td>Kilmaresh Quest</td>
        </tr>
        <tr>
            <td>Faceless Bane</td>
            <td>300</td>
            <td>The Dream Courts Quest</td>
        </tr>
        <tr>
            <td>Ravenous Hunger</td>
            <td>300</td>
            <td>Cults of Tibia Quest (Ab)</td>
        </tr>
        <tr>
            <td>Timira the Many-Headed</td>
            <td>300</td>
            <td>Within the Tides Quest</td>
        </tr>
        <tr>
            <td>Oberon</td>
            <td>300</td>
            <td>The Secret Library Quest</td>
        </tr>
        <tr>
            <td>Anomaly</td>
            <td>300</td>
            <td>Heart of Destruction Quest</td>
        </tr>
        <tr>
            <td>Outburst</td>
            <td>300</td>
            <td>Heart of Destruction Quest</td>
        </tr>
        <tr>
            <td>Eradicator</td>
            <td>300</td>
            <td>Heart of Destruction Quest</td>
        </tr>
        <tr>
            <td>Realityquake</td>
            <td>300</td>
            <td>Heart of Destruction Quest</td>
        </tr>
        <tr>
            <td>Rupture</td>
            <td>300</td>
            <td>Heart of Destruction Quest</td>
        </tr>
        <tr>
            <td>World Devourer</td>
            <td>300</td>
            <td>Heart of Destruction Quest</td>
        </tr>
        <tr>
            <td>Tentugly's Head</td>
            <td>300</td>
            <td>A Pirate's Tail Quest</td>
        </tr>
        <tr>
            <td>Ratmiral Blackwhiskers</td>
            <td>350</td>
            <td>A Pirate's Tail Quest</td>
        </tr>
        <tr>
            <td>Count Vlarkorth</td>
            <td>400</td>
            <td>Grave Danger</td>
        </tr>
        <tr>
            <td>Earl Osam</td>
            <td>400</td>
            <td>Grave Danger</td>
        </tr>
        <tr>
            <td>Lord Azaram</td>
            <td>400</td>
            <td>Grave Danger</td>
        </tr>
        <tr>
            <td>Sir Baeloc</td>
            <td>400</td>
            <td>Grave Danger</td>
        </tr>
        <tr>
            <td>Sir Nictros</td>
            <td>400</td>
            <td>Grave Danger</td>
        </tr>
        <tr>
            <td>Duke Krule</td>
            <td>400</td>
            <td>Grave Danger</td>
        </tr>
        <tr>
            <td>King Zelos</td>
            <td>400</td>
            <td>Grave Danger</td>
        </tr>
        <tr>
            <td>Brainhead</td>
            <td>400</td>
            <td>Feaster of Souls</td>
        </tr>
        <tr>
            <td>Thaian</td>
            <td>400</td>
            <td>Feaster of Souls</td>
        </tr>
        <tr>
            <td>The Unwelcome</td>
            <td>400</td>
            <td>Feaster of Souls</td>
        </tr>
        <tr>
            <td>The Fear Fester</td>
            <td>400</td>
            <td>Feaster of Souls</td>
        </tr>
        <tr>
            <td>The Dread Maiden</td>
            <td>400</td>
            <td>Feaster of Souls</td>
        </tr>
        <tr>
            <td>The Pale Worm</td>
            <td>400</td>
            <td>Feaster of Souls</td>
        </tr>
        <tr>
            <td>Ascending Ferumbras</td>
            <td>400</td>
            <td>Ferumbras' Ascendant Quest</td>
        </tr>
        <tr>
            <td>The Nightmare Beast</td>
            <td>400</td>
            <td>The Dream Courts Quest</td>
        </tr>
        <tr>
            <td>Malofur Mangrinder</td>
            <td>400</td>
            <td>The Dream Courts Quest</td>
        </tr>
        <tr>
            <td>Plagueroot</td>
            <td>400</td>
            <td>The Dream Courts Quest</td>
        </tr>
        <tr>
            <td>Alptramun</td>
            <td>400</td>
            <td>The Dream Courts Quest</td>
        </tr>
        <tr>
            <td>Maxxenius</td>
            <td>400</td>
            <td>The Dream Courts Quest</td>
        </tr>
        <tr>
            <td>Izcandar Champion of Winter</td>
            <td>400</td>
            <td>The Dream Courts Quest</td>
        </tr>
        <tr>
            <td>Izcandar Champion of Summer</td>
            <td>400</td>
            <td>The Dream Courts Quest</td>
        </tr>
        <tr>
            <td>Izcandar the Banished</td>
            <td>400</td>
            <td>The Dream Courts Quest</td>
        </tr>
        <tr>
            <td>The Last Lore Keeper</td>
            <td>400</td>
            <td>Forgotten Knowledge</td>
        </tr>
        <tr>
            <td>The Brainstealer</td>
            <td>500</td>
            <td>Too Hot to Handle Quest</td>
        </tr>
        <tr>
            <td>The Monster</td>
            <td>500</td>
            <td>The Cradle of Monsters Quest</td>
        </tr>
        <tr>
            <td>Magma Bubble</td>
            <td>600</td>
            <td>Primal Ordeal</td>
        </tr>
    </table>
</div>
<button type="button" class="expandable-div">Special Bosses (total boss points: 1500)</button>
<div class="expandable-div-content">
    <table class="bestiary_table">
        <tr>
            <th>Boss</th>
            <th>Rec. Level</th>
            <th>Access Quest</th>
        </tr>
        <tr>
            <td>Raxias</td>
            <td>100</td>
            <td>Shipwreck from Port Hope</td>
        </tr>
        <tr>
            <td>The Mutated Pumpkin</td>
            <td>100</td>
            <td>Halloween Event</td>
        </tr>
        <tr>
            <td>The Percht Queen</td>
            <td>150</td>
            <td>Winterlight Solstice</td>
        </tr>
        <tr>
            <td>Feroxa</td>
            <td>200</td>
            <td>Grimvale Mini World Change</td>
        </tr>
        <tr>
            <td>King Chuck</td>
            <td>200</td>
            <td>Orcsoberfest event</td>
        </tr>
        <tr>
            <td>Lizard Gate Guardian</td>
            <td>200</td>
            <td>Children of the Revolution</td>
        </tr>
        <tr>
            <td>The First Dragon</td>
            <td>200</td>
            <td>First Dragon Quest</td>
        </tr>
        <tr>
            <td>Anmothra</td>
            <td>200</td>
            <td>Devovorga's Essence Mini World Change</td>
        </tr>
        <tr>
            <td>Irahsae</td>
            <td>200</td>
            <td>Devovorga's Essence Mini World Change</td>
        </tr>
        <tr>
            <td>Teneshpar</td>
            <td>200</td>
            <td>Devovorga's Essence Mini World Change</td>
        </tr>
        <tr>
            <td>Chikhaton</td>
            <td>300</td>
            <td>Rise of Devovorga Event</td>
        </tr>
        <tr>
            <td>Phrodomo</td>
            <td>300</td>
            <td>Rise of Devovorga Event</td>
        </tr>
        <tr>
            <td>Devovorga</td>
            <td>300</td>
            <td>Rise of Devovorga Event</td>
        </tr>
        <tr>
            <td>Zulazza the Corruptor</td>
            <td>300</td>
            <td>Orc Raid on Zzaion</td>
        </tr>
        <tr>
            <td>Chizzoron the Distorter</td>
            <td>300</td>
            <td>Orc Raid on Zzaion</td>
        </tr>
    </table>
</div>
{% endblock %}