{% extends "base_template.html" %}
{% block title %} <title>TibiaPal.com - Bosstiary Guide</title> {% endblock %}

{% block nav-bosstiary %}<div class="active nav-item">{% endblock %}

{% block main-content %}
<h1>Tibia Bosstiary Guide</h1>
<button type="button" class="expandable-div">Solo Bosses - before level 400   (total boss points: 1700)</button>
<div class="expandable-div-content">
    <table class="bestiary_table">
        <tr>
            <th>Boss</th>
            <th>Rec. Level</th>
            <th>Access Quest</th>
        </tr>
        <tr>
            <td>Bibby Bloodbath</td>
            <td>100</td>
            <td>Warpath Mini World Change</td>
        </tr>
        <tr>
            <td>Raxias</td>
            <td>100</td>
            <td>Shipwreck from Port Hope</td>
        </tr>
        <tr>
            <td>Black Vixen</td>
            <td>100</td>
            <td>Grimvale Quest - The Curse Spreads</td>
        </tr>
        <tr>
            <td>Bloodback</td>
            <td>100</td>
            <td>Grimvale Quest - The Curse Spreads</td>
        </tr>
        <tr>
            <td>Darkfang</td>
            <td>100</td>
            <td>Grimvale Quest - The Curse Spreads</td>
        </tr>
        <tr>
            <td>Sharpclaw</td>
            <td>100</td>
            <td>Grimvale Quest - The Curse Spreads</td>
        </tr>
        <tr>
            <td>Shadowpelt</td>
            <td>100</td>
            <td>Grimvale Quest - The Curse Spreads</td>
        </tr>
        <tr>
            <td>Katex Blood Tongue</td>
            <td>250</td>
            <td>Grimvale Quest - An Ancient Feud</td>
        </tr>
        <tr>
            <td>Srezz Yellow Eyes</td>
            <td>250</td>
            <td>Grimvale Quest - An Ancient Feud</td>
        </tr>
        <tr>
            <td>Utua Stone Sting</td>
            <td>250</td>
            <td>Grimvale Quest - An Ancient Feud</td>
        </tr>
        <tr>
            <td>Yirkas Blue Scales</td>
            <td>250</td>
            <td>Grimvale Quest - An Ancient Feud</td>
        </tr>
        <tr>
            <td>Scarlett Etzel</td>
            <td>250</td>
            <td>Grave Danger</td>
        </tr>
        <tr>
            <td>Drume</td>
            <td>300</td>
            <td>The Order of the Lion Quest</td>
        </tr>
        <tr>
            <td>Kusuma</td>
            <td>300</td>
            <td>Within the Tides Quest</td>
        </tr>
        <tr>
            <td>The Flaming Orchid</td>
            <td>300</td>
            <td>Asura Palace Quest</td>
        </tr>
        <tr>
            <td>The Moonlight Aster</td>
            <td>300</td>
            <td>Asura Palace Quest</td>
        </tr>
        <tr>
            <td>The Winter Bloom</td>
            <td>300</td>
            <td>Asura Palace Quest</td>
        </tr>
    </table>
</div>

<button type="button" class="expandable-div">Solo Bosses - after level 400 (total boss points: 1100)</button>
<div class="expandable-div-content">
    <table class="bestiary_table">
        <tr>
            <th>Boss</th>
            <th>Rec. Level</th>
            <th>Access Quest</th>
        </tr>
        <tr>
            <td>Ahau</td>
            <td>400</td>
            <td>Adventures of Galthen</td>
        </tr>
        <tr>
            <td>Amenef the Burning</td>
            <td>500</td>
            <td>Kilmaresh Quest</td>
        </tr>
        <tr>
            <td>Sister Hetai</td>
            <td>500</td>
            <td>Kilmaresh Quest</td>
        </tr>
        <tr>
            <td>Neferi the Spy</td>
            <td>500</td>
            <td>Kilmaresh Quest</td>
        </tr>
        <tr>
            <td>Brokul</td>
            <td>500</td>
            <td>The Secret Library Quest</td>
        </tr>
        <tr>
            <td>Irgix the Flimsy</td>
            <td>500</td>
            <td>Feaster of Souls Quest</td>
        </tr>
        <tr>
            <td>Unaz the Mean</td>
            <td>500</td>
            <td>Feaster of Souls Quest</td>
        </tr>
        <tr>
            <td>Vok the Freakish</td>
            <td>500</td>
            <td>Feaster of Souls Quest</td>
        </tr>
        <tr>
            <td>The Blazing Rose</td>
            <td>650</td>
            <td>The Secret Library Quest</td>
        </tr>
        <tr>
            <td>The Diamond Blossom</td>
            <td>650</td>
            <td>The Secret Library Quest</td>
        </tr>
        <tr>
            <td>The Lily of Night</td>
            <td>650</td>
            <td>The Secret Library Quest</td>
        </tr>
    </table>
</div>

<button type="button" class="expandable-div">Common Team Bosses (total boss points: 4900)</button>
<div class="expandable-div-content">
    <table class="bestiary_table">
        <tr>
            <th>Boss</th>
            <th>Rec. Level</th>
            <th>Access Quest</th>
        </tr>
        <tr>
            <td>Abyssador</td>
            <td>200</td>
            <td>Bigfoot's Burden</td>
        </tr>
        <tr>
            <td>Gnomevil</td>
            <td>200</td>
            <td>Bigfoot's Burden</td>
        </tr>
        <tr>
            <td>Deathstrike</td>
            <td>200</td>
            <td>Bigfoot's Burden</td>
        </tr>
        <tr>
            <td>Lizard Gate Guardian</td>
            <td>200</td>
            <td>Children of the Revolution</td>
        </tr>
        <tr>
            <td>Urmahlullu the Weakened</td>
            <td>250</td>
            <td>Kilmaresh Quest</td>
        </tr>
        <tr>
            <td>Lloyd</td>
            <td>250</td>
            <td>Forgotten Knowledge Quest</td>
        </tr>
        <tr>
            <td>Lady Tenebris</td>
            <td>250</td>
            <td>Forgotten Knowledge Quest</td>
        </tr>
        <tr>
            <td>Mounted Thorn Knight</td>
            <td>250</td>
            <td>Forgotten Knowledge Quest</td>
        </tr>
        <tr>
            <td>Solid Frozen Horror</td>
            <td>250</td>
            <td>Forgotten Knowledge Quest</td>
        </tr>
        <tr>
            <td>Dragonking Zyrtarch</td>
            <td>250</td>
            <td>Forgotten Knowledge Quest</td>
        </tr>
        <tr>
            <td>The Time Guardian</td>
            <td>250</td>
            <td>Forgotten Knowledge Quest</td>
        </tr>
        <tr>
            <td>Faceless Bane</td>
            <td>300</td>
            <td>The Dream Courts Quest</td>
        </tr>
        <tr>
            <td>Ravenous Hunger</td>
            <td>300</td>
            <td>Cults of Tibia Quest (Ab)</td>
        </tr>
        <tr>
            <td>Timira the Many-Headed</td>
            <td>300</td>
            <td>Within the Tides Quest</td>
        </tr>
        <tr>
            <td>Oberon</td>
            <td>300</td>
            <td>The Secret Library Quest</td>
        </tr>
        <tr>
            <td>Anomaly</td>
            <td>300</td>
            <td>Heart of Destruction Quest</td>
        </tr>
        <tr>
            <td>Outburst</td>
            <td>300</td>
            <td>Heart of Destruction Quest</td>
        </tr>
        <tr>
            <td>Eradicator</td>
            <td>300</td>
            <td>Heart of Destruction Quest</td>
        </tr>
        <tr>
            <td>Realityquake</td>
            <td>300</td>
            <td>Heart of Destruction Quest</td>
        </tr>
        <tr>
            <td>Rupture</td>
            <td>300</td>
            <td>Heart of Destruction Quest</td>
        </tr>
        <tr>
            <td>World Devourer</td>
            <td>300</td>
            <td>Heart of Destruction Quest</td>
        </tr>
        <tr>
            <td>Tentugly's Head</td>
            <td>300</td>
            <td>A Pirate's Tail Quest</td>
        </tr>
        <tr>
            <td>Ratmiral Blackwhiskers</td>
            <td>350</td>
            <td>A Pirate's Tail Quest</td>
        </tr>
        <tr>
            <td>Count Vlarkorth</td>
            <td>400</td>
            <td>Grave Danger</td>
        </tr>
        <tr>
            <td>Earl Osam</td>
            <td>400</td>
            <td>Grave Danger</td>
        </tr>
        <tr>
            <td>Lord Azaram</td>
            <td>400</td>
            <td>Grave Danger</td>
        </tr>
        <tr>
            <td>Sir Baeloc</td>
            <td>400</td>
            <td>Grave Danger</td>
        </tr>
        <tr>
            <td>Sir Nictros</td>
            <td>400</td>
            <td>Grave Danger</td>
        </tr>
        <tr>
            <td>Duke Krule</td>
            <td>400</td>
            <td>Grave Danger</td>
        </tr>
        <tr>
            <td>King Zelos</td>
            <td>400</td>
            <td>Grave Danger</td>
        </tr>
        <tr>
            <td>Brainhead</td>
            <td>400</td>
            <td>Feaster of Souls</td>
        </tr>
        <tr>
            <td>Thaian</td>
            <td>400</td>
            <td>Feaster of Souls</td>
        </tr>
        <tr>
            <td>The Unwelcome</td>
            <td>400</td>
            <td>Feaster of Souls</td>
        </tr>
        <tr>
            <td>The Fear Fester</td>
            <td>400</td>
            <td>Feaster of Souls</td>
        </tr>
        <tr>
            <td>The Dread Maiden</td>
            <td>400</td>
            <td>Feaster of Souls</td>
        </tr>
        <tr>
            <td>The Pale Worm</td>
            <td>400</td>
            <td>Feaster of Souls</td>
        </tr>
        <tr>
            <td>Ascending Ferumbras</td>
            <td>400</td>
            <td>Ferumbras' Ascendant Quest</td>
        </tr>
        <tr>
            <td>The Nightmare Beast</td>
            <td>400</td>
            <td>The Dream Courts Quest</td>
        </tr>
        <tr>
            <td>Malofur Mangrinder</td>
            <td>400</td>
            <td>The Dream Courts Quest</td>
        </tr>
        <tr>
            <td>Plagueroot</td>
            <td>400</td>
            <td>The Dream Courts Quest</td>
        </tr>
        <tr>
            <td>Alptramun</td>
            <td>400</td>
            <td>The Dream Courts Quest</td>
        </tr>
        <tr>
            <td>Maxxenius</td>
            <td>400</td>
            <td>The Dream Courts Quest</td>
        </tr>
        <tr>
            <td>Izcandar Champion of Winter</td>
            <td>400</td>
            <td>The Dream Courts Quest</td>
        </tr>
        <tr>
            <td>Izcandar Champion of Summer</td>
            <td>400</td>
            <td>The Dream Courts Quest</td>
        </tr>
        <tr>
            <td>Izcandar the Banished</td>
            <td>400</td>
            <td>The Dream Courts Quest</td>
        </tr>
        <tr>
            <td>The Last Lore Keeper</td>
            <td>400</td>
            <td>Forgotten Knowledge</td>
        </tr>
        <tr>
            <td>The Brainstealer</td>
            <td>500</td>
            <td>Too Hot to Handle Quest</td>
        </tr>
        <tr>
            <td>The Monster</td>
            <td>500</td>
            <td>The Cradle of Monsters Quest</td>
        </tr>
        <tr>
            <td>Magma Bubble</td>
            <td>600</td>
            <td>Primal Ordeal</td>
        </tr>
    </table>
</div>
<button type="button" class="expandable-div">Special Event Bosses (total boss points: 1100)</button>
<div class="expandable-div-content">
    <p>Bosses in this section are only completable during certain world events. Most of them are relatively easy and only require 5 kills, therefore are definitely worth doing during the events.<br><br></p>
    <table class="bestiary_table">
        <tr>
            <th>Boss</th>
            <th>Rec. Level</th>
            <th>Access Quest</th>
        </tr>
        <tr>
            <td>The Mutated Pumpkin</td>
            <td>100</td>
            <td>Halloween Event</td>
        </tr>
        <tr>
            <td>The Percht Queen</td>
            <td>150</td>
            <td>Winterlight Solstice</td>
        </tr>
        <tr>
            <td>King Chuck</td>
            <td>200</td>
            <td>Orcsoberfest event</td>
        </tr>
        <tr>
            <td>The First Dragon</td>
            <td>200</td>
            <td>First Dragon Quest</td>
        </tr>
        <tr>
            <td>Feroxa</td>
            <td>200</td>
            <td>Monthly Grimvale Mini World Change</td>
        </tr>
        <tr>
            <td>Anmothra</td>
            <td>200</td>
            <td>Devovorga's Essence Mini World Change</td>
        </tr>
        <tr>
            <td>Irahsae</td>
            <td>200</td>
            <td>Devovorga's Essence Mini World Change</td>
        </tr>
        <tr>
            <td>Teneshpar</td>
            <td>200</td>
            <td>Devovorga's Essence Mini World Change</td>
        </tr>
        <tr>
            <td>Chikhaton</td>
            <td>300</td>
            <td>Rise of Devovorga Event</td>
        </tr>
        <tr>
            <td>Phrodomo</td>
            <td>300</td>
            <td>Rise of Devovorga Event</td>
        </tr>
        <tr>
            <td>Devovorga</td>
            <td>300</td>
            <td>Rise of Devovorga Event</td>
        </tr>
    </table>
</div>
<button type="button" class="expandable-div">Raid Bosses (total boss points: 1000)</button>
<div class="expandable-div-content">
    <p>Bosses in this section only appear during announced raids. Some of them are very weak, some are more tough.<br><br>
        <b>IMPORTANT:</b> when attempting to kill bosses with low health (e.g. Willi Wasp, Zomba) you should 'tag' the boss only ONCE, either with a weak rune 
        (e.g. a poison/fire bomb) or preferably using wand/rod obtainable from Thais Museum (plain mayhem rod, valuable carving wand).<br><br>
            This is so other people on your server can also get the boss kill contribution.<br>People who one-shot/UE/SD/Avalanche etc. raid bosses like this are extremely rude, do NOT be like them.<br><br></p>
    <table class="bestiary_table">
        <tr>
            <th>Boss</th>
            <th>Rec. Level</th>
            <th>Access Quest</th>
        </tr>
        <tr>
            <td>Willi Wasp</td>
            <td>50</td>
            <td>Carlin Wasp Raid</td>
        </tr>
        <tr>
            <td>Zomba</td>
            <td>50</td>
            <td>Darashia Lion Raid</td>
        </tr>
        <tr>
            <td>Cublarc the Plunderer</td>
            <td>100</td>
            <td>Orc Raid on Zzaion</td>
        </tr>
        <tr>
            <td>The Pale Count</td>
            <td>200</td>
            <td>Darashia Drefia Raid</td>
        </tr>
        <tr>
            <td>Zulazza the Corruptor</td>
            <td>300</td>
            <td>Orc Raid on Zzaion</td>
        </tr>
        <tr>
            <td>Chizzoron the Distorter</td>
            <td>300</td>
            <td>Orc Raid on Zzaion</td>
        </tr>
        <tr>
            <td>Orshabaal</td>
            <td>300</td>
            <td>Edron Demon Raid</td>
        </tr>
        <tr>
            <td>Ferumbras</td>
            <td>300</td>
            <td>Ferumbras Tower Raid</td>
        </tr>
        <tr>
            <td>Morgaroth</td>
            <td>300</td>
            <td>Goroma Demon Raid</td>
        </tr>
        <tr>
            <td>Ghazbaran</td>
            <td>300</td>
            <td>Formorgar Mines Demon Raid</td>
        </tr>
    </table>
</div>
{% endblock %}