{% extends "base_template.html" %}
{% block title %} <title>TibiaPal.com - Exp Calculator</title> {% endblock %}
{% block scripts %}
<script src="../static/scripts/expcalculator.js"></script>
{% endblock %}

{% block nav-expcalculator %}<div class="active nav-item nav-item-expandable">{% endblock %}

{% block main-content %}
<p>Calculator to work out the amount of experience points needed between two levels. <br></p>
<form id="expcalculatorform">
       <label for="startinglevel">Starting level:</label>
       <input type="text" id="startinglevel" name="startinglevel" placeholder="enter starting level e.g. 150"
              autocomplete="off"><br>
       <label id="targetlevellabel" for="targetlevel">Target level:</label>
       <input type="text" id="targetlevel" name="targetlevel" placeholder="enter target level e.g. 450"
              autocomplete="off"><br>
       <label id="explabel" for="exp">(Optional) Exp per hour (in kk/h):</label>
       <input type="text" id="exp" name="exp" placeholder="enter exp per hour in kk e.g. 4.5" autocomplete="off"><br>
       <label id="hunt_daylabel" for="hunt_day">(Optional) Hours hunting per day:</label>
       <input type="text" id="hunt_day" name="hunt_day" placeholder="enter hours hunting per day e.g. 2.5"
              autocomplete="off"><br>
       <input type="submit" id="expcalculatorsubmitbutton" value="Submit"
              onclick="event.preventDefault(); submit_form()" />
</form>
<div id="expcalculatorresults"></div>
{% endblock %}