{% extends "base_template.html" %}
{% block title %} <title>TibiaPal.com - Hunting Places</title> {% endblock %}
{% block scripts %}
<script src="../static/scripts/hunting.js"></script>
{% endblock %}

{% block nav-hunting %}<div class="active nav-item">{% endblock %}

{% block main-content %}
<h1>Tibia Hunting Places</h1>
<h3>Solo Places</h3>
<h5><a href="soloknight">Solo Knight</a></h5>
<h5><a href="solomage">Solo Mage (Sorcerer/Druid)</a></h5>
<h5><a href="solopaladinsingle">Solo Paladin - Single Target</a></h5>
<h5><a href="solopaladinaoe">Solo Paladin - AOE (150+)</a></h5>
<h3>Multi Vocation Places</h3>
<h5><a href="fullth">Full 4 Vocation TH</a></h5>
<h5><a href="knightdruidduo">Knight + Druid duo</a></h5>
<h5><a href="paladindruidduo">Paladin + Druid duo<br><br></a></h5>
<h1>Notes</h1>
<ol id="align-left">
    <li>These lists intend to cover all 'good enough' spots to hunt at, this means not all the places
        will be absolutely top tier
    </li>
    <li>These lists intend to provide ideas of places to hunt that you might not otherwise think of</li>
    <li>These lists are not intended to be guides, instead use these lists to get an idea and then look for
        one of many detailed guides on e.g. youtube
    </li>
    <li>If you have any comments or suggestions please email me at <a
            href="mailto:tibiapalcontact@gmail.com">tibiapalcontact@gmail.com</a>.<br> I plan to keep these
        lists as up-to-date and as accurate as possible so I will be very happy to receive & incorporate
        your feedback
    </li>

</ol>
{% endblock %}