{% extends "base_template.html" %}
{% block title %} <title>TibiaPal.com - Imbue Calculator</title> {% endblock %}
{% block scripts %}
<script src="../static/scripts/imbue.js"></script>
{% endblock %}

{% block nav-imbue %}<div class="active nav-item">{% endblock %}

{% block main-content %}
<p id="imbue_paragraph"> Calculate the most cost effective way of getting imbuement items, by trading gold
    tokens with Yana or buying from the market! <br><br></p>
<form id="imbueform">
    <!--suppress HtmlFormInputWithoutLabel -->
    <select name="imbue" id="imbue" onChange="submit_imbue_type()">
        <option disabled selected value>Select Imbue</option>
        <option value="Vampirism">Vampirism (Life Leech)</option>
        <option value="Strike">Strike (Crit)</option>
        <option value="Void">Void (Mana Leech)</option>
    </select>
</form>
<form id="imbueitemsform">
    <label for="goldtokenvalue">Gold token value:</label>
    <input type="text" id="goldtokenvalue" name="goldtokenvalue" placeholder="Value in gp" autocomplete="off"><br>
    <label id="firstitemvalue_label" for="firstitemvalue">First item value:</label>
    <input type="text" id="firstitemvalue" name="firstitemvalue" placeholder="Value in gp" autocomplete="off"><br>
    <label id="seconditemvalue_label" for="seconditemvalue">Second item value:</label>
    <input type="text" id="seconditemvalue" name="seconditemvalue" placeholder="Value in gp" autocomplete="off"><br>
    <label id="thirditemvalue_label" for="thirditemvalue">Third item value:</label>
    <input type="text" id="thirditemvalue" name="thirditemvalue" placeholder="Value in gp" autocomplete="off"><br>
    <input type="submit" id="valuessubmitbutton" value="Submit"
        onclick="event.preventDefault(); submit_imbue_values()" />
    <!-- <input type="button" onclick="location.href='https:/\/tibialootsplit.com';" value="Refresh page" /> -->
</form>
<div id="imbue_results">
    <p id="powerful_imbue_label" class="orange"></p>
    <p id="powerful_imbue_cost_paragraph"></p>
    <table class="imbue_table" id="powerful_imbue_table">
        <tr>
            <th class="imbue_table_item">Item</th>
            <th class="imbue_table_decision">Buy?</th>
        </tr>
        <tr>
            <td>Gold Tokens (6)</td>
            <td id="powerful_gold_token_cell_decision"></td>
        </tr>
        <tr>
            <td class="first_imbue_item_cell"></td>
            <td id="powerful_first_imbue_item_cell_decision"></td>
        </tr>
        <tr>
            <td class="second_imbue_item_cell"></td>
            <td id="powerful_second_imbue_item_cell_decision"></td>
        </tr>
        <tr>
            <td class="third_imbue_item_cell"></td>
            <td id="powerful_third_imbue_item_cell_decision"></td>
        </tr>
    </table>

    <p id="intricate_imbue_label" class="orange"></p>
    <p id="intricate_imbue_cost_paragraph"></p>
    <table class="imbue_table" id="intricate_imbue_table">
        <tr>
            <th class="imbue_table_item">Item</th>
            <th class="imbue_table_decision">Buy?</th>
        </tr>
        <tr>
            <td>Gold Tokens (4)</td>
            <td id="intricate_gold_token_cell_decision"></td>
        </tr>
        <tr>
            <td class="first_imbue_item_cell"></td>
            <td id="intricate_first_imbue_item_cell_decision"></td>
        </tr>
        <tr>
            <td class="second_imbue_item_cell"></td>
            <td id="intricate_second_imbue_item_cell_decision"></td>
        </tr>
    </table>

    <p id="basic_imbue_label" class="orange"></p>
    <p id="basic_imbue_cost_paragraph"></p>
    <table class="imbue_table" id="basic_imbue_table">
        <tr>
            <th class="imbue_table_item">Item</th>
            <th class="imbue_table_decision">Buy?</th>
        </tr>
        <tr>
            <td>Gold Tokens (2)</td>
            <td id="basic_gold_token_cell_decision"></td>
        </tr>
        <tr>
            <td class="first_imbue_item_cell"></td>
            <td id="basic_first_imbue_item_cell_decision"></td>
        </tr>
    </table>

</div>
{% endblock %}