{% extends "base_template.html" %}
{% block title %} <title>TibiaPal.com - Leech calculator</title> {% endblock %}
{% block scripts %}
<script src="../static/scripts/leech.js"></script>
{% endblock %}

{% block nav-othertools %}<div class="active nav-item nav-item-expandable">{% endblock %}

{% block main-content %}
<br>Leech formula is as follows:<br><br> 100% Leech for first monster hit, additional 10% for each
subsequent monster <br><br> For example, if you hit 1 monster, you will Leech 100% (damage * leech
percentage), when you hit 6 monsters, you will Leech 150% (100% + 5 * 10%)
<form id="leechform">
       <label for="damagedealt">Damage Dealt:</label>
       <input type="text" id="damagedealt" name="damagedealt" placeholder="damage dealt e.g. 300"
              autocomplete="off"><br>
       <label id="leechpercentlabel" for="leechpercent">Leech %:</label>
       <input type="text" id="leechpercent" name="leechpercent" placeholder="% value e.g. 15" autocomplete="off"><br>
       <label id="mobshitlabel" for="mobshit">Number of monsters hit:</label>
       <input type="text" id="mobshit" name="mobshit" placeholder="number of monsters hit e.g. 8"
              autocomplete="off"><br>
       <input type="submit" id="leechsubmitbutton" value="Submit" onclick="event.preventDefault(); submit_leech()" />
</form>
<div id="leechresults"></div>
{% endblock %}