{% extends "base_template.html" %}
<!-- this will need to be a variable passed in the future -->
{% block title %} <title>TibiaPal.com - Hunting Places</title> {% endblock %}
{% block scripts %}
<!-- this will need to be a variable passed in the future -->
<script src="../../static/scripts/hunting.js"></script>
{% endblock %}

<!-- These variables need to be updated for 'nested' pages, where the relative path is different to default -->
{% block favicon %} href="../../static/images/crystalcoin.ico" type="image/x-icon">{% endblock %}
{% block css %} href="../../static/css/styles.css"{% endblock %}
{% block onload %}
<script src="../../static/scripts/onload.js"></script> {% endblock %}
{% block mainlogo %} <img src="../../static/images/mainlogo.png" style="width:100px"
    alt="TibiaPal beaver logo">{% endblock %}
{% block supportedlogo %}
<img src="../../static/images/supported.png" style="width:100%" alt="Tibia supported fansite Logo">{% endblock %}
{% block tibialogo %}
<img src="../../static/images/tibia-logo-artwork-top.gif" style="width:45%" class="right-sidebar-item"
    alt="Official Tibia Logo">{% endblock %}
{% block rashidimage %} <img src="../../static/images/Rashid.gif" style="width:45%" alt="Rashid NPC">{% endblock %}

{% block navbar %}
<div class="nav-section">GENERAL</div>
{% block nav-news %}<div class="nav-item">{% endblock %}
    <a href="../../">
        <div class="nav-image-container"><img class="nav-image" src="../../static/images/icon-news.gif">Latest
            News</div>
    </a> </div>
{% block nav-about %}<div class="nav-item">{% endblock %}<a href="../../about">
        <div class="nav-image-container"><img class="nav-image" src="../../static/images/icon-abouttibia.gif">About
            & Contact</div>
    </a></div>
{% block nav-donators %}<div class="nav-item">{% endblock %}<a href="../../donators">
        <div class="nav-image-container"><img class="nav-image" src="../../static/images/Heart_Pillow.gif">Donators
        </div>
    </a></div>
<div class="nav-section">TOOLS</div>
{% block nav-tibialootsplit %}<div class="nav-item">{% endblock %}<a href="../../tibialootsplit">
        <div class="nav-image-container"><img class="nav-image" src="../../static/images/crystalcoin.ico">TibiaLootSplit
        </div>
    </a></div>
{% block nav-bosstimers %}<div class="nav-item">{% endblock %}<a href="../../bosstimers">
        <div class="nav-image-container"><img class="nav-image" src="../../static/images/Time_Compass.gif">Boss
            Timers</div>
    </a></div>
<!--{% block nav-wheel %}<div class="nav-item">{% endblock %}<a href="../../wheel">
        <div class="nav-image-container"><img class="nav-image" src="../../static/images/Wheel.gif"><span id="new-homepage">NEW!</span>Wheel of Destiny (in progress)</div>
    </a></div>-->
<!--{% block nav-charactertracker %}<div class="nav-item">{% endblock %}<a href="../../charactertracker">
        <div class="nav-image-container"><img class="nav-image" src="../../static/images/White_Skull.gif">Character
            Tracker<span id="new-homepage">&nbspNEW!</span></div>
    </a></div> -->
<!--{% block nav-auctions %}<div class="nav-item">{% endblock %}<a href="../../auctions">
        <div class="nav-image-container"><img class="nav-image" src="../../static/images/Big_Table.gif">House Auctions
        </div>
    </a></div>-->
<div class="nav-section">GUIDES / REFERENCES</div>
{% block nav-hunting %}<div class="nav-item">{% endblock %}<a href="../../hunting">
        <div class="nav-image-container"><img class="nav-image" src="../../static/images/Sword.gif">Hunting
            Places</div>
    </a></div>
{% block nav-bestiary %}<div class="nav-item">{% endblock %}<a href="../../bestiary">
        <div class="nav-image-container"><img class="nav-image"
                src="../../static/images/Bestiary_Betterment.gif">Bestiary
            Reference</div>
    </a> </div>
{% block nav-videos %}<div class="nav-item">{% endblock %}<a href="https://www.youtube.com/kusnierr" target="_blank">
        <div class="nav-image-container"><img class="nav-image" src="../../static/images/youtube-icon.png">YouTube Videos &
            Guides</div>
    </a></div>
<!--{% block nav-weaponsref %}<div class="nav-item">{% endblock %}<a href="../../weapons">
        <div class="nav-image-container"><img class="nav-image" src="../../static/images/icon-library.gif">Weapons
            Reference</div>
    </a></div>-->
</div>
<div class="nav-section">CALCULATORS</div>
{% block nav-exercise %}<div class="nav-item">{% endblock %}<a href="../../exercise">
        <div class="nav-image-container"><img class="nav-image" src="../../static/images/Exercise_Wand.gif">Exercise
            Weapons Calculator</div>
    </a></div>
{% block nav-imbue %}<div class="nav-item">{% endblock %}<a href="../../imbue">
        <div class="nav-image-container"><img class="nav-image" src="../../static/images/Imbuing_Shrine.gif">Imbue
            Calculator</div>
    </a></div>
{% block nav-expshare %}<div class="nav-item">{% endblock %}<a href="../../expshare">
        <div class="nav-image-container"><img class="nav-image" src="../../static/images/Bricklayers.gif">Exp Share
            Calculator</div>
    </a></div>
{% block nav-stamina %}<div class="nav-item">{% endblock %}<a href="../../stamina">
        <div class="nav-image-container"><img class="nav-image" src="../../static/images/Staminafull.png">Stamina
            Calculator</div>
    </a></div>
{% block nav-bless %}<div class="nav-item">{% endblock %}<a href="../../bless">
        <div class="nav-image-container"><img class="nav-image" src="../../static/images/Solitude_Charm.gif"><span id="new-homepage">NEW!</span>Bless
            Calculator</div>
    </a></div>
{% block nav-expcalculator %}<div class="nav-item">{% endblock %}<a href="../../expcalculator">
        <div class="nav-image-container"><img class="nav-image" src="../../static/images/Demon.gif">Levelling Calculator
        </div>
    </a></div>
{% block nav-offlinetraining %}<div class="nav-item">{% endblock %}<a href="../../offlinetraining">
        <div class="nav-image-container"><img class="nav-image" src="../../static/images/Skill_Trainer.gif">Training
            Calculator</div>
    </a></div>
{% block nav-leech %}<div class="nav-item">{% endblock %}<a href="../../leech">
        <div class="nav-image-container"><img class="nav-image" src="../../static/images/Leech.gif">Leech Calculator
        </div>
    </a></div>
{% endblock %}