{% extends "base_template.html" %}
{% block title %} <title>TibiaPal.com - Other tools list</title> {% endblock %}

{% block nav-othertools %}<div class="active nav-item nav-item-expandable">{% endblock %}

{% block main-content %}
<p> Please find links below to tools & calculators that didn't quite make it to the navigation bar: </p>
<ul id="other_tools_list">
    <li>
        <a href="https://tibiapal.com/expshare">Exp Share Calculator</a> - find out the shared experience range for a
        level
    </li>
    <li>
        <a href="https://tibiapal.com/stamina">Stamina Calculator</a> - work out how long you need to wait to refill
        stamina
    </li>
    <li>
        <a href="https://tibiapal.com/leech">Leech Calculator</a> - find out how much you will leech from the damage you
        deal
    </li>
    <li>
        <a href="https://tibiapal.com/expcalculator">Exp Calculator</a> - find out how much experience you need to get
        from level X to level Y
    </li>
    <li>
        <a href="https://tibiapal.com/offlinetraining">Offline Training</a> - find out how fast you can reach a certain
        skill with offline training
    </li>
    <li>
        <a href="https://tibiapal.com/auctions">House Auctions</a> - browse all active house auctions per server
    </li>
    <li>
        <a href="https://tibiapal.com/weapons">Weapons Reference</a> - find the best levelling and Best-in-Slot weapons
        for each vocation
    </li>
</ul>
{% endblock %}