{% extends "base_template.html" %}
{% block title %}
    <title>TibiaPal.com - Wheel of Destiny</title>
{% endblock title %}
{% block scripts %}
    <script src="../static/scripts/wheel.js"></script>
{% endblock scripts %}
{% block nav-wheel %}
    <div class="active nav-item">
{% endblock nav-wheel %}
{% block main-content %}
</br>
Assign points to Wheel of Destiny to find out the cumulative bonuses you will receive.
</br>
</br>
For instructions on how to use this tool, check out this <a href="https://www.youtube.com/kusnierr" target="_blank">YouTube video</a>. *NEEDS UPDATE ONCE POSTED*
</br>
<form id="wheel_form">
    <label for="vocation">Vocation:</label>
    <select name="vocation" id="vocation">
        <option value="Knight">
            Knight
        </option>
        <option value="Druid">
            Druid
        </option>
        <option value="Paladin">
            Paladin
        </option>
        <option value="Sorcerer">
            Sorcerer
        </option>
    </select>
</br>
<label id="total_points" for="total_points">Points:</label>
<input type="text"
       id="total_points"
       name="total_points"
       value="4000"
       autocomplete="off">
</br>
<label id="add_remove_points" for="add_remove_points">Add/Remove points:</label>
<select name="increment" id="increment">
    <option value="max">
        Maximum
    </option>
    <option value="10">
        10
    </option>
    <option value="1">
        1
    </option>
</select>
</br>
</form>

<p id="wheeltitle"><b>WHEEL OF DESTINY</b></p>
<p id="wheelpoints"><br>Points available: <span id="points_div">4000</span><br></p>
<p class="wheel_domain_content">
    DOMAIN 1 <img class="domain-image" src="../static/images/domain1.png">

    <form id="splices_form">
        <input id="d1s1" type="button" onclick="incrementD1S1()" value="Knight D1S1" /><br>
        <input id="d1s2" type="hidden" onclick="incrementD1S2()" value="Knight D1S2" />
        <input id="d1s3" type="hidden" onclick="incrementD1S3()" value="Knight D1S3" /><br>
        <input id="d1s4" type="hidden" onclick="incrementD1S4()" value="Knight D1S4" />
        <input id="d1s5" type="hidden" onclick="incrementD1S5()" value="Knight D1S5" />
        <input id="d1s6" type="hidden" onclick="incrementD1S6()" value="Knight D1S6" /><br>
        <input id="d1s7" type="hidden" onclick="incrementD1S7()" value="Knight D1S7" />
        <input id="d1s8" type="hidden" onclick="incrementD1S8()" value="Knight D1S8" /><br>
        <input id="d1s9" type="hidden" onclick="incrementD1S9()" value="Knight D1S9" />
    </form>
</p>

<p class="wheel_domain_content">
    DOMAIN 2 <img class="domain-image" src="../static/images/Domain2.png">

    <form id="splices_form">
        <input id="d2s1" type="button" onclick="incrementD2S1()" value="Knight D2S1" /><br>
        <input id="d2s2" type="hidden" onclick="incrementD2S2()" value="Knight D2S2" />
        <input id="d2s3" type="hidden" onclick="incrementD2S3()" value="Knight D2S3" /><br>
        <input id="d2s4" type="hidden" onclick="incrementD2S4()" value="Knight D2S4" />
        <input id="d2s5" type="hidden" onclick="incrementD2S5()" value="Knight D2S5" />
        <input id="d2s6" type="hidden" onclick="incrementD2S6()" value="Knight D2S6" /><br>
        <input id="d2s7" type="hidden" onclick="incrementD2S7()" value="Knight D2S7" />
        <input id="d2s8" type="hidden" onclick="incrementD2S8()" value="Knight D2S8" /><br>
        <input id="d2s9" type="hidden" onclick="incrementD2S9()" value="Knight D2S9" />
    </form>
</p>

<p class="wheel_domain_content">
    DOMAIN 3 <img class="domain-image" src="../static/images/Domain3.png">

    <form id="splices_form">
        <input id="d3s1" type="button" onclick="incrementD3S1()" value="Knight D3S1" /><br>
        <input id="d3s2" type="hidden" onclick="incrementD3S2()" value="Knight D3S2" />
        <input id="d3s3" type="hidden" onclick="incrementD3S3()" value="Knight D3S3" /><br>
        <input id="d3s4" type="hidden" onclick="incrementD3S4()" value="Knight D3S4" />
        <input id="d3s5" type="hidden" onclick="incrementD3S5()" value="Knight D3S5" />
        <input id="d3s6" type="hidden" onclick="incrementD3S6()" value="Knight D3S6" /><br>
        <input id="d3s7" type="hidden" onclick="incrementD3S7()" value="Knight D3S7" />
        <input id="d3s8" type="hidden" onclick="incrementD3S8()" value="Knight D3S8" /><br>
        <input id="d3s9" type="hidden" onclick="incrementD3S9()" value="Knight D3S9" />
    </form>
</p>

<p class="wheel_domain_content">
    DOMAIN 4 <img class="domain-image" src="../static/images/Domain4.png">

    <form id="splices_form">
        <input id="d4s1" type="button" onclick="incrementD4S1()" value="Knight D4S1" /><br>
        <input id="d4s2" type="hidden" onclick="incrementD4S2()" value="Knight D4S2" />
        <input id="d4s3" type="hidden" onclick="incrementD4S3()" value="Knight D4S3" /><br>
        <input id="d4s4" type="hidden" onclick="incrementD4S4()" value="Knight D4S4" />
        <input id="d4s5" type="hidden" onclick="incrementD4S5()" value="Knight D4S5" />
        <input id="d4s6" type="hidden" onclick="incrementD4S6()" value="Knight D4S6" /><br>
        <input id="d4s7" type="hidden" onclick="incrementD4S7()" value="Knight D4S7" />
        <input id="d4s8" type="hidden" onclick="incrementD4S8()" value="Knight D4S8" /><br>
        <input id="d4s9" type="hidden" onclick="incrementD4S9()" value="Knight D4S9" />
    </form>
</p>

<p id="wheel_bonuses">Total bonuses:
    <ul id="wheel_bonus_list">
    </ul>
</p>
{% endblock %}
