---
layout: default
title: TibiaPal.com - Deliveries
scripts: <script src="../scripts/deliveries.js"></script>
---
<p id="equipment_info">
    <span style="color: gold"><b>PURPOSE:</b></span> Simple reference to help decide which items are best sold on the market vs. directly to NPCs.<br><br>
    <span style="color: red"><b>High</b></span> value items should <b>always</b> be sold on the market.<br>
    <span style="color: orange"><b>Medium</b></span> value items should generally be sold on the market, unless you need money immediately.<br>
    <span style="color: green"><b>Low</b></span> value items can be safely sold to NPCs, unless the supply is really low on your server.<br><br>
</p>
<div class="deliveries_tab">
    <button id="rashid" class="tablinks active" onclick="show_tab(event, 'RashidTab')">Rashid</button>
    <button id="djinn" class="tablinks" onclick="show_tab(event, 'Djinn')">Djinns</button>
    <button id="yasir" class="tablinks" onclick="show_tab(event, 'Yasir')">Yasir</button>
    <button id="telas" class="tablinks" onclick="show_tab(event, 'Telas')">Telas</button>
    <button id="gladys" class="tablinks" onclick="show_tab(event, 'Gladys')">Gladys</button>
    <button id="edron_academy" class="tablinks" onclick="show_tab(event, 'Edron Academy')">Edron Academy</button>
    <button id="esrik" class="tablinks" onclick="show_tab(event, 'Esrik')">Esrik</button>
    <button id="flint" class="tablinks" onclick="show_tab(event, 'Flint')">Flint</button>
    <button id="others" class="tablinks" onclick="show_tab(event, 'Others')">Others</button>
</div>

<div id="RashidTab" class="tabcontent">
    <table id="deliveries_table_rashid" class="deliveries_table">
        <tr>
            <th>Icon</th>
            <th>Name</th>
            <th>NPC Price</th>
            <th>Market Value</th>
        </tr>
        {% for delivery in site.data.deliveries.rashid %}
            <tr>
                <td><img src="/images/deliveries/{{ delivery.icon }}" height="32" width="32"></td>
                {% if delivery.link != "" and delivery.link != "https://youtu.be/" %}
                <td><a href="{{ delivery.link }}" target="_blank">{{ delivery.name }}</a></td>
                {% else %}
                <td>{{ delivery.name }}</td>
                {% endif %}
                <td>{{ delivery.price }}</td>
                {% if delivery.value == "High" %}
                <td style="color: red"><b>{{ delivery.value }}</b></td>
                {% elsif delivery.value == "Medium" %}
                <td style="color: orange"><b>{{ delivery.value }}</b></td>
                {% elsif delivery.value == "Low" %}
                <td style="color: green"><b>{{ delivery.value }}</b></td>
                {% else %}
                <td>{{ delivery.value }}</td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
</div>

<div id="Djinn" class="tabcontent">
    <table id="deliveries_table_djinn" class="deliveries_table">
        <tr>
            <th>Icon</th>
            <th>Name</th>
            <th>NPC Price</th>
            <th>Market Value</th>
        </tr>
        {% for delivery in site.data.deliveries.djinn %}
            <tr>
                <td><img src="/images/deliveries/{{ delivery.icon }}" height="32" width="32"></td>
                {% if delivery.link != "" and delivery.link != "https://youtu.be/" %}
                <td><a href="{{ delivery.link }}" target="_blank">{{ delivery.name }}</a></td>
                {% else %}
                <td>{{ delivery.name }}</td>
                {% endif %}
                <td>{{ delivery.price }}</td>
                {% if delivery.value == "High" %}
                <td style="color: red"><b>{{ delivery.value }}</b></td>
                {% elsif delivery.value == "Medium" %}
                <td style="color: orange"><b>{{ delivery.value }}</b></td>
                {% elsif delivery.value == "Low" %}
                <td style="color: green"><b>{{ delivery.value }}</b></td>
                {% else %}
                <td>{{ delivery.value }}</td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
</div>

<div id="Yasir" class="tabcontent">
    <table id="deliveries_table_yasir" class="deliveries_table">
        <tr>
            <th>Icon</th>
            <th>Name</th>
            <th>NPC Price</th>
            <th>Market Value</th>
        </tr>
        {% for delivery in site.data.deliveries.yasir %}
            <tr>
                <td><img src="/images/deliveries/{{ delivery.icon }}" height="32" width="32"></td>
                {% if delivery.link != "" and delivery.link != "https://youtu.be/" %}
                <td><a href="{{ delivery.link }}" target="_blank">{{ delivery.name }}</a></td>
                {% else %}
                <td>{{ delivery.name }}</td>
                {% endif %}
                <td>{{ delivery.price }}</td>
                {% if delivery.value == "High" %}
                <td style="color: red"><b>{{ delivery.value }}</b></td>
                {% elsif delivery.value == "Medium" %}
                <td style="color: orange"><b>{{ delivery.value }}</b></td>
                {% elsif delivery.value == "Low" %}
                <td style="color: green"><b>{{ delivery.value }}</b></td>
                {% else %}
                <td>{{ delivery.value }}</td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
</div>

<div id="Telas" class="tabcontent">
    <table id="deliveries_table_telas" class="deliveries_table">
        <tr>
            <th>Icon</th>
            <th>Name</th>
            <th>NPC Price</th>
            <th>Market Value</th>
        </tr>
        {% for delivery in site.data.deliveries.telas %}
            <tr>
                <td><img src="/images/deliveries/{{ delivery.icon }}" height="32" width="32"></td>
                {% if delivery.link != "" and delivery.link != "https://youtu.be/" %}
                <td><a href="{{ delivery.link }}" target="_blank">{{ delivery.name }}</a></td>
                {% else %}
                <td>{{ delivery.name }}</td>
                {% endif %}
                <td>{{ delivery.price }}</td>
                {% if delivery.value == "High" %}
                <td style="color: red"><b>{{ delivery.value }}</b></td>
                {% elsif delivery.value == "Medium" %}
                <td style="color: orange"><b>{{ delivery.value }}</b></td>
                {% elsif delivery.value == "Low" %}
                <td style="color: green"><b>{{ delivery.value }}</b></td>
                {% else %}
                <td>{{ delivery.value }}</td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
</div>

<div id="Gladys" class="tabcontent">
    <table id="deliveries_table_gladys" class="deliveries_table">
        <tr>
            <th>Icon</th>
            <th>Name</th>
            <th>NPC Price</th>
            <th>Market Value</th>
        </tr>
        {% for delivery in site.data.deliveries.gladys %}
            <tr>
                <td><img src="/images/deliveries/{{ delivery.icon }}" height="32" width="32"></td>
                {% if delivery.link != "" and delivery.link != "https://youtu.be/" %}
                <td><a href="{{ delivery.link }}" target="_blank">{{ delivery.name }}</a></td>
                {% else %}
                <td>{{ delivery.name }}</td>
                {% endif %}
                <td>{{ delivery.price }}</td>
                {% if delivery.value == "High" %}
                <td style="color: red"><b>{{ delivery.value }}</b></td>
                {% elsif delivery.value == "Medium" %}
                <td style="color: orange"><b>{{ delivery.value }}</b></td>
                {% elsif delivery.value == "Low" %}
                <td style="color: green"><b>{{ delivery.value }}</b></td>
                {% else %}
                <td>{{ delivery.value }}</td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
</div>

<div id="Edron Academy" class="tabcontent">
    <table id="deliveries_table_edron_academy" class="deliveries_table">
        <tr>
            <th>Icon</th>
            <th>Name</th>
            <th>NPC Price</th>
            <th>Market Value</th>
        </tr>
        {% for delivery in site.data.deliveries.edron_academy %}
            <tr>
                <td><img src="/images/deliveries/{{ delivery.icon }}" height="32" width="32"></td>
                {% if delivery.link != "" and delivery.link != "https://youtu.be/" %}
                <td><a href="{{ delivery.link }}" target="_blank">{{ delivery.name }}</a></td>
                {% else %}
                <td>{{ delivery.name }}</td>
                {% endif %}
                <td>{{ delivery.price }}</td>
                {% if delivery.value == "High" %}
                <td style="color: red"><b>{{ delivery.value }}</b></td>
                {% elsif delivery.value == "Medium" %}
                <td style="color: orange"><b>{{ delivery.value }}</b></td>
                {% elsif delivery.value == "Low" %}
                <td style="color: green"><b>{{ delivery.value }}</b></td>
                {% else %}
                <td>{{ delivery.value }}</td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
</div>

<div id="Esrik" class="tabcontent">
    <table id="deliveries_table_esrik" class="deliveries_table">
        <tr>
            <th>Icon</th>
            <th>Name</th>
            <th>NPC Price</th>
            <th>Market Value</th>
        </tr>
        {% for delivery in site.data.deliveries.esrik %}
            <tr>
                <td><img src="/images/deliveries/{{ delivery.icon }}" height="32" width="32"></td>
                {% if delivery.link != "" and delivery.link != "https://youtu.be/" %}
                <td><a href="{{ delivery.link }}" target="_blank">{{ delivery.name }}</a></td>
                {% else %}
                <td>{{ delivery.name }}</td>
                {% endif %}
                <td>{{ delivery.price }}</td>
                {% if delivery.value == "High" %}
                <td style="color: red"><b>{{ delivery.value }}</b></td>
                {% elsif delivery.value == "Medium" %}
                <td style="color: orange"><b>{{ delivery.value }}</b></td>
                {% elsif delivery.value == "Low" %}
                <td style="color: green"><b>{{ delivery.value }}</b></td>
                {% else %}
                <td>{{ delivery.value }}</td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
</div>

<div id="Flint" class="tabcontent">
    <table id="deliveries_table_flint" class="deliveries_table">
        <tr>
            <th>Icon</th>
            <th>Name</th>
            <th>NPC Price</th>
            <th>Market Value</th>
        </tr>
        {% for delivery in site.data.deliveries.flint %}
            <tr>
                <td><img src="/images/deliveries/{{ delivery.icon }}" height="32" width="32"></td>
                {% if delivery.link != "" and delivery.link != "https://youtu.be/" %}
                <td><a href="{{ delivery.link }}" target="_blank">{{ delivery.name }}</a></td>
                {% else %}
                <td>{{ delivery.name }}</td>
                {% endif %}
                <td>{{ delivery.price }}</td>
                {% if delivery.value == "High" %}
                <td style="color: red"><b>{{ delivery.value }}</b></td>
                {% elsif delivery.value == "Medium" %}
                <td style="color: orange"><b>{{ delivery.value }}</b></td>
                {% elsif delivery.value == "Low" %}
                <td style="color: green"><b>{{ delivery.value }}</b></td>
                {% else %}
                <td>{{ delivery.value }}</td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
</div>

<div id="Others" class="tabcontent">
    <table id="deliveries_table_others" class="deliveries_table">
        <tr>
            <th>Icon</th>
            <th>Name</th>
            <th>NPC Price</th>
            <th>Market Value</th>
        </tr>
        {% for delivery in site.data.deliveries.others %}
            <tr>
                <td><img src="/images/deliveries/{{ delivery.icon }}" height="32" width="32"></td>
                {% if delivery.link != "" and delivery.link != "https://youtu.be/" %}
                <td><a href="{{ delivery.link }}" target="_blank">{{ delivery.name }}</a></td>
                {% else %}
                <td>{{ delivery.name }}</td>
                {% endif %}
                <td>{{ delivery.price }}</td>
                {% if delivery.value == "High" %}
                <td style="color: red"><b>{{ delivery.value }}</b></td>
                {% elsif delivery.value == "Medium" %}
                <td style="color: orange"><b>{{ delivery.value }}</b></td>
                {% elsif delivery.value == "Low" %}
                <td style="color: green"><b>{{ delivery.value }}</b></td>
                {% else %}
                <td>{{ delivery.value }}</td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
</div>

