---
layout: default
title: TibiaPal.com - Hunting Places
scripts: <script src="../scripts/hunting.js"></script>
---

<div class="hunting_tab">
    <button id="knight" class="tablinks active" onclick="show_tab(event, 'Knight')">Knight</button>
    <button id="paladin" class="tablinks" onclick="show_tab(event, 'Paladin')">Paladin</button>
    <button id="mage" class="tablinks" onclick="show_tab(event, 'Mage')">Druid/Sorcerer</button>
    <button id="monk" class="tablinks" onclick="show_tab(event, 'Monk')">Monk</button>
    <button id="duo" class="tablinks" onclick="show_tab(event, 'Duo')">Duos</button>
    <button id="teamhunt" class="tablinks" onclick="show_tab(event, 'Teamhunt')">Teamhunts</button>
</div>

<div id="Knight" class="tabcontent">
    <div id="filter_selection">
        <b>Level Filter</b>:<br><br>
        <label>
            <input value="0" type="radio" name="level_filter_choice_knight" checked onclick="apply_level_filter()"> All
        </label>
        <label>
            <input value="50" type="radio" name="level_filter_choice_knight" onclick="apply_level_filter()"> 50+
        </label>
        <label>
            <input value="100" type="radio" name="level_filter_choice_knight" onclick="apply_level_filter()"> 100+
        </label>
        <label>
            <input value="130" type="radio" name="level_filter_choice_knight" onclick="apply_level_filter()"> 130+
        </label>
        <label>
            <input value="200" type="radio" name="level_filter_choice_knight" onclick="apply_level_filter()"> 200+
        </label>
        <label>
            <input value="300" type="radio" name="level_filter_choice_knight" onclick="apply_level_filter()"> 300+
        </label>
        <label>
            <input value="400" type="radio" name="level_filter_choice_knight" onclick="apply_level_filter()"> 400+
        </label>
    </div>

    <table id="hunting_table_knight" class="hunting_table">
        <tr>
            <th class="level_row">Level</th>
            <th class="place_row">Place</th>
            <th class="exp_row">Raw exp</th>
            <th class="loot_row">Loot</th>
        </tr>
        {% for hunt in site.data.hunting.soloknight %}
            <tr>
                <td>{{ hunt.level }}</td>

                {% if hunt.link != "https://youtu.be/" %}
                <td><a href="{{ hunt.link }}" target="_blank">{{ hunt.place }}</a></td>
                {% else %}
                <td>{{ hunt.place }}</td>
                {% endif %}

                <td>{{ hunt.raw_exp }}</td>
                <td>{{ hunt.loot }}</td>
            </tr>
        {% endfor %}
    </table>
</div>

<div id="Paladin" class="tabcontent">
    <div id="filter_selection">
        <b>Level Filter</b>:<br><br>
        <label>
            <input value="0" type="radio" name="level_filter_choice_paladin" checked onclick="apply_level_filter()"> All
        </label>
        <label>
            <input value="50" type="radio" name="level_filter_choice_paladin" onclick="apply_level_filter()"> 50+
        </label>
        <label>
            <input value="100" type="radio" name="level_filter_choice_paladin" onclick="apply_level_filter()"> 100+
        </label>
        <label>
            <input value="150" type="radio" name="level_filter_choice_paladin" onclick="apply_level_filter()"> 150+
        </label>
        <label>
            <input value="200" type="radio" name="level_filter_choice_paladin" onclick="apply_level_filter()"> 200+
        </label>
        <label>
            <input value="300" type="radio" name="level_filter_choice_paladin" onclick="apply_level_filter()"> 300+
        </label>
        <label>
            <input value="400" type="radio" name="level_filter_choice_paladin" onclick="apply_level_filter()"> 400+
        </label>
    </div>

    <table id="hunting_table_paladin" class="hunting_table">
        <tr>
            <th class="level_row">Level</th>
            <th class="place_row">Place</th>
            <th class="exp_row">Raw exp</th>
            <th class="loot_row">Loot</th>
        </tr>
        {% for hunt in site.data.hunting.solopaladin %}
            <tr>
                <td>{{ hunt.level }}</td>

                {% if hunt.link != "https://youtu.be/" %}
                <td><a href="{{ hunt.link }}" target="_blank">{{ hunt.place }}</a></td>
                {% else %}
                <td>{{ hunt.place }}</td>
                {% endif %}

                <td>{{ hunt.raw_exp }}</td>
                <td>{{ hunt.loot }}</td>
            </tr>
        {% endfor %}
    </table>
</div>

<div id="Mage" class="tabcontent">
    <div id="filter_selection">
        <b>Level Filter</b>:<br><br>
        <label>
            <input value="0" type="radio" name="level_filter_choice_mage" checked onclick="apply_level_filter()"> All
        </label>
        <label>
            <input value="50" type="radio" name="level_filter_choice_mage" onclick="apply_level_filter()"> 50+
        </label>
        <label>
            <input value="80" type="radio" name="level_filter_choice_mage" onclick="apply_level_filter()"> 80+
        </label>
        <label>
            <input value="130" type="radio" name="level_filter_choice_mage" onclick="apply_level_filter()"> 130+
        </label>
        <label>
            <input value="200" type="radio" name="level_filter_choice_mage" onclick="apply_level_filter()"> 200+
        </label>
        <label>
            <input value="300" type="radio" name="level_filter_choice_mage" onclick="apply_level_filter()"> 300+
        </label>
        <label>
            <input value="400" type="radio" name="level_filter_choice_mage" onclick="apply_level_filter()"> 400+
        </label>
    </div>
    <table id="hunting_table_mage" class="hunting_table">
        <tr>
            <th class="level_row">Level</th>
            <th class="place_row">Place</th>
            <th class="exp_row">Raw exp</th>
            <th class="loot_row">Loot</th>
        </tr>
        {% for hunt in site.data.hunting.solomage %}
            <tr>
                <td>{{ hunt.level }}</td>

                {% if hunt.link != "https://youtu.be/" %}
                <td><a href="{{ hunt.link }}" target="_blank">{{ hunt.place }}</a></td>
                {% else %}
                <td>{{ hunt.place }}</td>
                {% endif %}

                <td>{{ hunt.raw_exp }}</td>
                <td>{{ hunt.loot }}</td>
            </tr>
        {% endfor %}
    </table>
</div>

<div id="Monk" class="tabcontent">
    <div id="filter_selection">
        <b>Level Filter</b>:<br><br>
        <label>
            <input value="0" type="radio" name="level_filter_choice_monk" checked onclick="apply_level_filter()"> All
        </label>
        <label>
            <input value="50" type="radio" name="level_filter_choice_monk" onclick="apply_level_filter()"> 50+
        </label>
        <label>
            <input value="100" type="radio" name="level_filter_choice_monk" onclick="apply_level_filter()"> 100+
        </label>
        <label>
            <input value="130" type="radio" name="level_filter_choice_monk" onclick="apply_level_filter()"> 130+
        </label>
        <label>
            <input value="200" type="radio" name="level_filter_choice_monk" onclick="apply_level_filter()"> 200+
        </label>
        <label>
            <input value="300" type="radio" name="level_filter_choice_monk" onclick="apply_level_filter()"> 300+
        </label>
        <label>
            <input value="400" type="radio" name="level_filter_choice_monk" onclick="apply_level_filter()"> 400+
        </label>
    </div>
    <table id="hunting_table_monk" class="hunting_table">
        <tr>
            <th class="level_row">Level</th>
            <th class="place_row">Place</th>
            <th class="exp_row">Raw exp</th>
            <th class="loot_row">Loot</th>
        </tr>
        {% for hunt in site.data.hunting.solomonk %}
            <tr>
                <td>{{ hunt.level }}</td>

                {% if hunt.link != "https://youtu.be/" %}
                <td><a href="{{ hunt.link }}" target="_blank">{{ hunt.place }}</a></td>
                {% else %}
                <td>{{ hunt.place }}</td>
                {% endif %}

                <td>{{ hunt.raw_exp }}</td>
                <td>{{ hunt.loot }}</td>
            </tr>
        {% endfor %}
    </table>
</div>

<div id="Duo" class="tabcontent">
    <div id="filter_selection">
        <b>Level Filter</b>:<br><br>
        <label>
            <input value="0" type="radio" name="level_filter_choice_duo" checked onclick="apply_level_filter()"> All
        </label>
        <label>
            <input value="50" type="radio" name="level_filter_choice_duo" onclick="apply_level_filter()"> 50+
        </label>
        <label>
            <input value="100" type="radio" name="level_filter_choice_duo" onclick="apply_level_filter()"> 100+
        </label>
        <label>
            <input value="130" type="radio" name="level_filter_choice_duo" onclick="apply_level_filter()"> 130+
        </label>
        <label>
            <input value="200" type="radio" name="level_filter_choice_duo" onclick="apply_level_filter()"> 200+
        </label>
        <label>
            <input value="300" type="radio" name="level_filter_choice_duo" onclick="apply_level_filter()"> 300+
        </label>
        <label>
            <input value="400" type="radio" name="level_filter_choice_duo" onclick="apply_level_filter()"> 400+
        </label>
    </div>
    <table id="hunting_table_duo" class="hunting_table">
        <tr>
            <th class="level_row">Level</th>
            <th class="place_row">Place</th>
            <th class="exp_row">Raw exp</th>
            <th class="loot_row">Loot</th>
        </tr>
        {% for hunt in site.data.hunting.duos %}
            <tr>
                <td>{{ hunt.level }}</td>

                {% if hunt.link != "https://youtu.be/" %}
                <td><a href="{{ hunt.link }}" target="_blank">{{ hunt.place }}</a></td>
                {% else %}
                <td>{{ hunt.place }}</td>
                {% endif %}

                <td>{{ hunt.raw_exp }}</td>
                <td>{{ hunt.loot }}</td>
            </tr>
        {% endfor %}
    </table>
</div>

<div id="Teamhunt" class="tabcontent">
    <div id="filter_selection">
        <b>Level Filter</b>:<br><br>
        <label>
            <input value="0" type="radio" name="level_filter_choice_teamhunt" checked onclick="apply_level_filter()"> All
        </label>
        <label>
            <input value="50" type="radio" name="level_filter_choice_teamhunt" onclick="apply_level_filter()"> 50+
        </label>
        <label>
            <input value="100" type="radio" name="level_filter_choice_teamhunt" onclick="apply_level_filter()"> 100+
        </label>
        <label>
            <input value="130" type="radio" name="level_filter_choice_teamhunt" onclick="apply_level_filter()"> 130+
        </label>
        <label>
            <input value="200" type="radio" name="level_filter_choice_teamhunt" onclick="apply_level_filter()"> 200+
        </label>
        <label>
            <input value="300" type="radio" name="level_filter_choice_teamhunt" onclick="apply_level_filter()"> 300+
        </label>
        <label>
            <input value="400" type="radio" name="level_filter_choice_teamhunt" onclick="apply_level_filter()"> 400+
        </label>
    </div>
    <table id="hunting_table_teamhunt" class="hunting_table">
        <tr>
            <th class="level_row">Level</th>
            <th class="place_row">Place</th>
            <th class="exp_row">Raw exp</th>
            <th class="loot_row">Loot</th>
        </tr>
        {% for hunt in site.data.hunting.teamhunt %}
            <tr>
                <td>{{ hunt.level }}</td>

                {% if hunt.link != "https://youtu.be/" %}
                <td><a href="{{ hunt.link }}" target="_blank">{{ hunt.place }}</a></td>
                {% else %}
                <td>{{ hunt.place }}</td>
                {% endif %}

                <td>{{ hunt.raw_exp }}</td>
                <td>{{ hunt.loot }}</td>
            </tr>
        {% endfor %}
    </table>
</div>