body {
    font-family: 'Helvetica', sans-serif;
    font-size: 14px;
    text-align: center;
}

#analyserData {
    width: 365px;
    margin-top: 10px;
}

#submitbutton {
    margin-top: 10px;
}

h1 {
    font-family: 'Acme', sans-serif;
}

h4 {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

ol {
    margin-top: 5px;
}

li {
    text-align: center;
}

#contactParagraph {
    margin-top: 5px;
    margin-bottom: 0px;
}

#profit_positive {
    font-weight: bold;
    color: green;
}

#profit_negative {
    font-weight: bold;
    color: red;
}