body {
    font-family: 'Helvetica', sans-serif;
    font-size: 14px;
    text-align: center;
    margin: 0px;
    padding: 0px;
    background-color: #121212e7;
    color: #FFFFFF;
    opacity: 75%;
}

html, body {
    height: 100%;
    margin: 0;
}

#changelog-body {
    text-align: left;
}

#page-container {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
}

#left-sidebar {
    padding-top: 20px;
    flex-basis: 15%;
    text-align: left;
}

#left-sidebar a {
    display: block;
    padding: 10px 10px 5px 25px;
    color: #FFFFFF;
    text-decoration: none; /* no underline */
    font-size: 16px;
}

#main-content {
    flex-basis: 70%;
    height: 90%;
}

#analyserData {
    width: 365px;
    margin-top: 10px;
}

#submitbutton {
    margin-top: 10px;
}

h1 {
    font-family: 'Acme', sans-serif;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

h4 {
    margin-bottom: 0px;
    padding-bottom: 10px;
}

h3 {
    padding-top: 10px;
}

h2 {
    padding-top: 10px;
    padding-bottom: 20px;
}

p {
    display: inline-block;
    margin: 8px;
}

.copy_button_div {
    display: inline-block;
    margin-left: 3px;
}

.block_element {
    display: block;
}

ol, ul {
    margin: 5px 0px 10px 0px;
    padding: 0px;
}

.instructions-list {
    text-align: center;
    list-style-position: inside;
}

#profit_positive {
    font-weight: bold;
    color: green;
}

#profit_negative {
    font-weight: bold;
    color: red;
    opacity: 100%;
}

#example_positive {
    font-weight: bold;
    color: green;
}

#right-sidebar {
    flex-basis: 15%;
}

#footer {
    height: 10%;
    flex-basis: 100%;
    align-items: center;
}

#changelog-footer {
    height: 10%;
    flex-basis: 100%;
    align-items: center;
    text-align: center;
}

#contactParagraph {
    position: absolute;
    bottom: 0px;
    left: 15%;
    right: 15%;
}

#contactParagraphChange {
    padding-top: 50px;
    padding-right:33px;
    text-align: center;
    bottom: 0px;
    left: 15%;
    right: 15%;
}

a {
    color: rgb(157, 151, 173)
}

@media only screen and (max-width: 1000px) {
    body {
        font-family: 'Helvetica', sans-serif;
        font-size: 1.8rem;
        text-align: center;
    }
    #left-sidebar {
        display: none;
    }
    #right-sidebar {
        display: none;
    }
    #footer {
        display: none;
    }
    #main-content {
        flex-basis: 90%;
    }
}

.hiddeninput {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

#copy-invis-content {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

#contact_heading {
    padding-top: 30px;
    padding-bottom: 0;
}

.contact-u-list {
    padding-top: 15px;
    display:inline-block;
    text-align: left;
}

.contact-list {
    padding: 2px;
}

