.charm_div
    display: inline-block
    padding-bottom: 50px
    padding-right: 30px

#planner_major_charms, #planner_minor_charms
    display: inline-block

#planner_minor_charms
    padding-top: 0px
    
.charm_div:hover
    opacity: 0.6

.planner_para 
    width: 100%
    text-align: left
    padding-bottom: 2px

#reset_button_container
    width: 100%
    text-align: left

#reset_charms
    text-align: left
    margin-left: 10px


.tab 
    overflow: hidden

.tab button 
    border: 1px solid #cbd4ff
    background-color: inherit
    float: left
    outline: none
    cursor: pointer
    padding: 14px 16px
    transition: 0.3s
    width: 50%
    color: #ccc
    font-size: 14px
    font-weight: bold
    font-family: Verdana, Arial, Times New Roman, sans-serif


.tab button:hover 
    background-color: #14356d


.tab button.active 
    background-color: #1c4b9b
    width: 50%

.tabcontent
    padding-top: 10px
    display: none
    border-top: none