.charm_div
    display: inline-block
    padding-bottom: 50px
    padding-right: 30px

#planner_charms
    display: inline-block

.charm_div:hover
    opacity: 0.7

.planner_para 
    width: 100%
    text-align: left