.equipment_table
    display: initial
    text-align: left

.level_row
    width: 15%

.image_row
    width: 15%

.name_row
    width: 50%

.type_row
    width: 20%


.equipment_table td
    padding-top: 4px
    padding-bottom: 4px

.equipment_table tbody tr
    background-color: #0d1e38

.filter_selection
    margin-bottom: 20px

.filter_selection label
    margin-right: 15px

.equipment_table tr td img
    display: block
    margin-left: auto
    margin-right: auto

.equipment_tab 
    overflow: hidden

.equipment_tab button 
    border: 1px solid #cbd4ff
    background-color: inherit
    float: left
    outline: none
    cursor: pointer
    padding: 14px 16px
    transition: 0.3s
    width: 20%
    color: #ccc
    font-size: 14px
    font-weight: bold
    font-family: Verdana, Arial, Times New Roman, sans-serif


.equipment_tab button:hover 
    background-color: #14356d


.equipment_tab button.active 
    background-color: #1c4b9b
    width: 20%

.tabcontent
    padding-top: 10px
    display: none
    border-top: none