---
layout: default
title: TibiaPal.com - Solo Paladin Single
scripts: <script src="../scripts/hunting.js"></script>
---

<h1>Hunting Places - Solo Paladin Single Target</h1>
<div id="filter_selection">
    <b>Level Filter</b>:<br><br>
    <label>
        <input value="0" type="radio" name="level_filter_choice" checked onclick="apply_level_filter()"> All
    </label>
    <label>
        <input value="50" type="radio" name="level_filter_choice" onclick="apply_level_filter()"> 50+
    </label>
    <label>
        <input value="100" type="radio" name="level_filter_choice" onclick="apply_level_filter()"> 100+
    </label>
    <label>
        <input value="130" type="radio" name="level_filter_choice" onclick="apply_level_filter()"> 130+
    </label>
    <label>
        <input value="200" type="radio" name="level_filter_choice" onclick="apply_level_filter()"> 200+
    </label>
    <label>
        <input value="300" type="radio" name="level_filter_choice" onclick="apply_level_filter()"> 300+
    </label>
    <label>
        <input value="400" type="radio" name="level_filter_choice" onclick="apply_level_filter()"> 400+
    </label>
</div>

<table id="hunting_table">
    <tr>
        <th class="level_row">Level</th>
        <th class="place_row">Place</th>
        <th class="exp_row">Raw exp</th>
        <th class="loot_row">Loot</th>
    </tr>
    {% for hunt in site.data.hunting.solopaladinsingle %}
        <tr>
            <td>{{ hunt.level }}</td>

            {% if hunt.link != "https://youtu.be/" %}
            <td><a href="{{ hunt.link }}" target="_blank">{{ hunt.place }}</a></td>
            {% else %}
            <td>{{ hunt.place }}</td>
            {% endif %}

            <td>{{ hunt.raw_exp }}</td>
            <td>{{ hunt.loot }}</td>
        </tr>
    {% endfor %}
</table>
