<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <meta name="author" content="Pawel Kusnierek">
    <meta name="description"
    content="Tools for video game 'Tibia', TibiaLootSplit, Imbue calculator, Stamina calculator, Exercise Weapons calculator, Wheel of Destiny presets and more.">
    <meta name="keywords"
        content="Tibia calculators, Tibia tools, TibiaLootSplit, Tibia Loot Analyser,
          Tibia fansite, Exercise Weapons Calculator, Stamina Calculator, Imbue Calculator, Exp Share Calculator, Wheel of Destiny presets ">
    <link rel="shortcut icon" href={{"images/crystalcoin.ico" | relative_url}} type="image/x-icon">

    <!-- css files -->
    <link rel="stylesheet" href={{"css/main.css" | relative_url}}>

    <!-- javascript files -->
    {{ page.scripts }}
    <script src={{"scripts/onload.js" | relative_url}}></script>

    <!-- extra googleapi fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap" rel="stylesheet">

    <!-- Analytics and ad related section-->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-PVVNY9BHWM"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'G-PVVNY9BHWM');
    </script>
    <script data-ad-client="ca-pub-2936542406889680" async
        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>

<body onload="initialize()">
    <main id="page-container">
        <div id="header">
            <a class="float-left" href="https://www.tibia.com/community/?subtopic=fansites" target="_blank">
                <img src={{"images/supported.png" | relative_url}} style="width:100%" alt="Tibia supported fansite Logo">
            </a>
            <a class="float-left" href="https://tibiapal.com"> 
                <img src={{"images/mainlogo.png" | relative_url}} style="width:100px" alt="TibiaPal beaver logo">
            </a>
        </div>
        <div id="banner">
            <a class="float-right" href="https://www.tibia.com" target="_blank"> 
                <img src={{"images/tibia-logo-artwork-top.gif" | relative_url}} style="width:120px" alt="Official Tibia Logo">
            </a>
        </div>
        <div id="right-header">

        </div>
    {% include navigation.html %}
    
    <section id="main-content">
    {{ content }}
    </section>
    
    

    <div class="adblockpopup"
        style="display:none;position:fixed;padding:0px;padding-bottom:5px;left:30%;right:40%;top:0;background-color:red;color:#FFF;text-align:center;width:30%;z-index:99999;">
        Please consider disabling AdBlock or donating a few TCs to 'Kusnierr' to support the site/server costs <3 <br> Thank you! <br>This pop-up will appear once every 30 days.
        <a href="" style="color:white;" onclick="event.preventDefault(); adBlockPopupClicked()"><br><br>CLOSE</a>
    </div>

    <aside id="right-sidebar">
            <section id="banner-paragraph">
                <p class="donationparagraph">Join our <b>Discord</b> channel to stay up-to-date!<br>
                    <a href="https://discord.gg/cyUb3QThVM" target="_blank">discord.gg/cyUb3QThVM</a>
                </p>

                <h4><br>Latest <a href="https://www.youtube.com/kusnierr" target="_blank">YouTube</a> Video:</h4>
                <iframe src="https://www.youtube.com/embed?listType=playlist&list=PLC0KAO2SnwlREgB3ScVsAK9OeAqwLXq8-" allowfullscreen></iframe>
            </section>
            <div id="ads-container">
                <div>
                </div>
                <br>
            </div>
            <br>
        </aside>
        <aside id="left-footer-space"></aside>
        <footer id="footer">
            <p id="footerParagraph">
                Tibia and all products related to Tibia are copyrighted by <a href="https://www.cipsoft.com"
                    target="_blank">CipSoft GmbH</a>. The official
                website of Tibia is <a href="https://www.tibia.com" target="_blank">tibia.com</a>.<br><br>
                Created by Kusnier.
            </p><br><br>
        </footer>
        <aside id="right-footer-space"></aside>
        </main>
            <script>
                showAdblockPopup();
            </script>
</body>
</html>