<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <meta name="author" content="Pawel Kusnierek">
    <meta name="description"
    content="Tools for MMORPG 'Tibia' - TibiaLootSplit, Charm Planner, Exercise Weapons Calculator, Offline Training Calculator and many, many more.">
    <meta name="keywords"
        content="Tibia calculators, Tibia tools, TibiaLootSplit, Tibia Loot Analyser,
          Tibia fansite, Exercise Weapons Calculator, Stamina Calculator, Imbue Calculator, Exp Share Calculator, Charm Planner, Tibia Charm Guide ">
    <link rel="shortcut icon" href={{"images/crystalcoin.ico" | relative_url}} type="image/x-icon">

    <!-- css files -->
    <link rel="stylesheet" href={{"css/main.css" | relative_url}}>

    <!-- javascript files -->
    {{ page.scripts }}
    <script src={{"scripts/onload.js" | relative_url}}></script>

    <!-- extra googleapi fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap" rel="stylesheet">

    <!-- Analytics and ad related section-->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-164338286-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-164338286-3');
    </script>
    <script data-ad-client="ca-pub-2936542406889680" async
        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>

<body onload="initialize()">
    <main id="page-container">
        <div id="tibiatrade_low_res">
            <div class="tibiatrade_span">
                Featured on <a href="https://tibiatrade.gg/?ref=tibiapal" target="_blank"><b>TibiaTrade</b>:</a>
            </div>
            <iframe id="tibiatrade" src="https://tibiatrade.gg/iframe/highlighted/" title="TibiaTrade" loading="lazy" scrolling="no"></iframe>
        </div>
    
        <div id="header">
            <a href="https://tibiapal.com"> 
                <img src={{"images/mainlogo.png" | relative_url}} style="width:100px" alt="TibiaPal beaver logo">
            </a>
        </div>

        <div id="banner">
            <span class="tibiatrade_span">Featured on <a href="https://tibiatrade.gg/?ref=tibiapal" target="_blank"><b>TibiaTrade</b>:</a></span>
            <iframe id="tibiatrade" src="https://tibiatrade.gg/iframe/highlighted/" title="TibiaTrade" loading="lazy" scrolling="no"></iframe>
                <!--<a href="https://store.steampowered.com/app/2948410/Talus/" target="_blank"> 
                    <img src={{"images/talus/small_capsule.png" |relative_url}} style="width:300px"  alt="Logo of upcoming ARPG 'Talus'">
                </a>-->
        </div>
        <div id="right-header">

        </div>
    {% include navigation.html %}
    
    <!-- Navigation toggle button for mobile -->
    <button class="nav-toggle" onclick="toggleNavigation()" style="display: none;">☰ Menu</button>
    
    <section id="main-content">
    {{ content }}
    </section>
    
    <!--><div class="cookieconsent"
        style="display:none;position:fixed;padding:20px;left:0;bottom:0;background-color:#000;color:#FFF;text-align:center;width:100%;z-index:99999;">
        TibiaPal.com uses cookies to ensure you get the best experience possible. By continuing to use this website, you
        agree to their use. You can find more information about our cookies on our <a href="https://tibiapal.com/about"
            target="_blank">Privacy Policy</a> page.
        <a href="" style="color:#CCCCCC;" onclick="event.preventDefault(); cookieConsentClicked()">I Understand</a>
    </div><!-->

    <!--><div class="adblockpopup"
        style="display:none;position:fixed;padding:0px;padding-bottom:5px;left:30%;right:40%;top:0;background-color:red;color:#FFF;text-align:center;width:30%;z-index:99999;">
        Please consider disabling AdBlock or donating a few TCs to 'Kusnierr' to support the site/server costs <3 <br> Thank you! <br>This pop-up will appear once every 30 days.
        <a href="" style="color:white;" onclick="event.preventDefault(); adBlockPopupClicked()"><br><br>CLOSE</a>
    </div> <!-->

    <aside id="right-sidebar">
            <section id="banner-paragraph">
                <p class="donationparagraph">Join our <b>Discord</b> channel to stay up-to-date!<br>
                    <a href="https://discord.gg/kbjqY2VRa9" target="_blank">discord.gg/kbjqY2VRa9</a>
                </p>
                <br>

                <div id="kick-offline">
                    <p class="donationparagraph">Follow me on <b>Kick</b>:<br>
                        <a href="https://www.kick.com/Kusnier" target="_blank">kick.com/Kusnier</a>
                    </p>

                    <h4><br>Latest <a href="https://www.youtube.com/kusnierr" target="_blank">YouTube</a> Video:</h4>
                    <iframe src="https://www.youtube.com/embed?listType=playlist&list=PLC0KAO2SnwlREgB3ScVsAK9OeAqwLXq8-" allowfullscreen></iframe>
                </div>
                <div id="kick-live" style="display: none">
                    <h4><br>Live right now on <a href="https://www.kick.com/Kusnier" target="_blank">Kick</a>:</h4>
                    <iframe src="https://player.kick.com/Kusnier?autoplay=true&?muted=true" height="168" width="300" frameborder="0" scrolling="no" allowfullscreen="true"> </iframe>
                </div>
                <br>
                <h4><h4>Browser-based idle Tibia: <a href="https://bestiaryarena.com/?t=tibiapal" target="_blank">Bestiary Arena</a></h4>
                <iframe src="https://bestiaryarena.com/iframe-obs-4?tag=tibiapal" width="277" height="313" scrolling="no" loading="lazy" frameborder="0" title="Bestiary Arena"></iframe>

                <!--<iframe src="https://www.youtube.com/embed?listType=playlist&list=PLC0KAO2SnwlREgB3ScVsAK9OeAqwLXq8-" allowfullscreen></iframe>!-->
                <!--
                <div><h2>Wishlist Talus on <a href="https://store.steampowered.com/app/2948410/Talus/" target="_blank">Steam:</a><h2>
                    <a href="https://store.steampowered.com/app/2948410/Talus/" target="_blank"> 
                    <img src={{"images/talus/classes_showcase.gif" | relative_url}} style="width:300px" alt="Gif of gameplay from upcoming ARPG 'Talus'">
                    </a>
                    <h3><img src={{"images/talus/english-flag.png" | relative_url}} style="width:16px" alt="English Flag"> Talus is a Tibia-like ARPG I'm developing. <br>Visit the Steam page or join our Discord to find out more!<br><br>
                    <img src={{"images/talus/polish-flag.png" | relative_url}} style="width:16px" alt="Polish Flag"> Talus to Tibijsko-podobna gra ARPG którą dewelopuje. <br>Wejdź na Steam-a lub dołącz do naszego Discorda po więcej info!<br><br>
                    <img src={{"images/talus/portuguese-flag.png" | relative_url}} style="width:16px" alt="Portuguese Flag"> Talus é um ARPG estilo Tibia que estou desenvolvendo.<br> Visite a página do Steam ou entre no nosso Discord para saber mais!<br><br>
                    <img src={{"images/talus/spanish-flag.png" | relative_url}} style="width:16px" alt="Spanish Flag"> Talus es un ARPG similar a Tibia que estoy desarrollando.<br> ¡Visite la página de Steam o únase a nuestro Discord para obtener más información!<h3>
                </div>
                !--><br><br>
            </section>
            <div id="ads-container">
                
                <br>
            </div>
            <br>
        </aside>
        <aside id="left-footer-space"></aside>
        <footer id="footer">
            <p id="footerParagraph">
                Tibia and all products related to Tibia are copyrighted by <a href="https://www.cipsoft.com"
                    target="_blank">CipSoft GmbH</a>. The official
                website of Tibia is <a href="https://www.tibia.com" target="_blank">tibia.com</a>.<br><br>
                Created by Kusnier.
            </p><br><br>
        </footer>
        <aside id="right-footer-space"></aside>
        </main>
            <script>
                //showAdblockPopup(); bump
            </script>
</body>
</html>